<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.api.dal.BillSaleBalanceApiMapper" >
  	<resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.BillSaleBalance" >
	    <id column="id" property="id" jdbcType="CHAR" />
	    <result column="fas_bill_code" property="fasBillCode" jdbcType="VARCHAR" />
	    <result column="bill_no" property="billNo" jdbcType="CHAR" />
	    <result column="bill_type" property="billType" jdbcType="INTEGER" />
	    <result column="biz_type" property="bizType" jdbcType="INTEGER" />
	    <result column="ref_bill_no" property="refBillNo" jdbcType="CHAR" />
	    <result column="ref_bill_type" property="refBillType" jdbcType="INTEGER" />
	    <result column="original_bill_no" property="originalBillNo" jdbcType="CHAR" />
	    <result column="status" property="status" jdbcType="INTEGER" />
	    <result column="buyer_no" property="buyerNo" jdbcType="CHAR" />
	    <result column="buyer_name" property="buyerName" jdbcType="CHAR" />
	    <result column="saler_no" property="salerNo" jdbcType="CHAR" />
	    <result column="saler_name" property="salerName" jdbcType="CHAR" />
	    <result column="send_date" property="sendDate" jdbcType="DATE" />
		<result column="receive_date" property="receiveDate" jdbcType="DATE" />
		<result column="send_store_no" property="sendStoreNo" jdbcType="CHAR" />
		<result column="send_store_name" property="sendStoreName" jdbcType="CHAR" />
		<result column="receive_store_no" property="receiveStoreNo" jdbcType="CHAR" />
		<result column="receive_store_name" property="receiveStoreName" jdbcType="CHAR" />
		<result column="sku_id" property="skuId" jdbcType="CHAR" />
		<result column="sku_no" property="skuNo" jdbcType="CHAR" />
		<result column="supplier_no" property="supplierNo" jdbcType="CHAR" />
		<result column="supplier_name" property="supplierName" jdbcType="CHAR" />
		<result column="item_no" property="itemNo" jdbcType="CHAR" />
		<result column="item_code" property="itemCode" jdbcType="CHAR" />
		<result column="item_name" property="itemName" jdbcType="CHAR" />
		<result column="brand_no" property="brandNo" jdbcType="CHAR" />
		<result column="brand_name" property="brandName" jdbcType="CHAR" />
		<result column="brand_unit_name" property="brandUnitName" jdbcType="CHAR" />
		<result column="category_no" property="categoryNo" jdbcType="CHAR" />
		<result column="category_name" property="categoryName" jdbcType="CHAR" />
		<result column="cost" property="cost" jdbcType="DECIMAL" />
		<result column="bill_cost" property="billCost" jdbcType="DECIMAL" />
		<result column="actual_cost" property="actualCost" jdbcType="DECIMAL" />
		<result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
		<result column="exclusive_cost" property="exclusiveCost" jdbcType="DECIMAL" />
		<result column="send_qty" property="sendQty" jdbcType="INTEGER" />
		<result column="receive_qty" property="receiveQty" jdbcType="INTEGER" />
		<result column="order_no" property="orderNo" jdbcType="CHAR" />
		<result column="balance_no" property="balanceNo" jdbcType="CHAR" />
		<result column="balance_status" property="balanceStatus" jdbcType="TINYINT" />
		<result column="balance_type" property="balanceType" jdbcType="TINYINT" />
		<result column="is_split" property="isSplit" jdbcType="INTEGER" />
		<result column="path_no" property="pathNo" jdbcType="CHAR" />
		<result column="order_unit_no" property="orderUnitNo" jdbcType="CHAR" />
		<result column="order_unit_name" property="orderUnitName" jdbcType="VARCHAR" />
		<result column="organ_no" property="organNo" jdbcType="CHAR" />
		<result column="organ_name" property="organName" jdbcType="VARCHAR" />
		<result column="order_unit_no_from" property="orderUnitNoFrom" jdbcType="CHAR" />
		<result column="order_unit_name_from" property="orderUnitNameFrom" jdbcType="VARCHAR" />
		<result column="organ_no_from" property="organNoFrom" jdbcType="CHAR" />
		<result column="organ_name_from" property="organNameFrom" jdbcType="VARCHAR" />
		<result column="zone_no" property="zoneNo" jdbcType="CHAR" />
		<result column="zone_name" property="zoneName" jdbcType="VARCHAR" />
		<result column="zone_no_from" property="zoneNoFrom" jdbcType="CHAR" />
		<result column="zone_name_from" property="zoneNameFrom" jdbcType="VARCHAR" />
	    <result column="send_amount" property="sendAmount" jdbcType="DECIMAL" />
	    <result column="claim_no" property="claimNo" jdbcType="CHAR" />
	    <result column="return_no" property="returnNo" jdbcType="CHAR" />
	    <result column="bill_rebate_amount" property="billRebateAmount" jdbcType="DECIMAL" />
  	</resultMap>
	
	<select id="selectCountByRefBillNo" resultType="java.lang.Integer">
	    SELECT COUNT(1) FROM (SELECT COUNT(1) as s FROM bill_sale_balance WHERE 1=1 
	    <if test="null!=refBillNo and ''!=refBillNo">
    		AND ref_bill_no = #{refBillNo,jdbcType=CHAR}
    	</if>
    		AND is_split = 1
	     GROUP BY bill_no, ref_bill_no) t
  	</select>

    <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.BillSaleBalance" >
    INSERT INTO bill_sale_balance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="bizType != null" >
        biz_type,
      </if>
      <if test="refBillNo != null" >
        ref_bill_no,
      </if>
      <if test="refBillType != null" >
        ref_bill_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="buyerNo != null" >
        buyer_no,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="salerNo != null" >
        saler_no,
      </if>
      <if test="salerName != null" >
        saler_name,
      </if>
      <if test="sendDate != null" >
        send_date,
      </if>
      <if test="receiveDate != null" >
        receive_date,
      </if>
      <if test="sendStoreNo != null" >
        send_store_no,
      </if>
      <if test="sendStoreName != null" >
        send_store_name,
      </if>
      <if test="receiveStoreNo != null" >
        receive_store_no,
      </if>
      <if test="receiveStoreName != null" >
        receive_store_name,
      </if>
      <if test="supplierNo != null" >
        supplier_no,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="itemNo != null" >
        item_no,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="brandNo != null" >
        brand_no,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="brandUnitNo != null" >
        brand_unit_no,
      </if>
      <if test="brandUnitName != null" >
        brand_unit_name,
      </if>
      <if test="categoryNo != null" >
        category_no,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="billCost != null" >
        bill_cost,
      </if>
      <if test="actualCost != null" >
        actual_cost,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
      <if test="exclusiveCost != null" >
        exclusive_cost,
      </if>
      <if test="sendQty != null" >
        send_qty,
      </if>
      <if test="receiveQty != null" >
        receive_qty,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="balanceNo != null" >
        balance_no,
      </if>
      <if test="isSplit != null" >
        is_split,
      </if>
      <if test="originalBillNo != null" >
        original_bill_no,
      </if>
      <if test="pathNo != null" >
        path_no,
      </if>
       <if test="orderUnitNo != null" >
        order_unit_no,
      </if>
       <if test="orderUnitName != null" >
        order_unit_name,
      </if>
       <if test="organNo != null" >
        organ_no,
      </if>
       <if test="organName != null" >
        organ_name,
      </if>
      <if test="zoneNo != null" >
        zone_no,
      </if>
       <if test="zoneName != null" >
        zone_name,
      </if>
       <if test="orderUnitNoFrom != null" >
        order_unit_no_from,
      </if>
       <if test="orderUnitNameFrom != null" >
        order_unit_name_from,
      </if>
       <if test="organNoFrom != null" >
        organ_no_from,
      </if>
       <if test="organNameFrom != null" >
        organ_name_from,
      </if>
      <if test="zoneNoFrom != null" >
        zone_no_from,
      </if>
       <if test="zoneNameFrom != null" >
        zone_name_from,
      </if>
      <if test="years != null" >
        years,
      </if>
      <if test="season != null" >
        season,
      </if>
      <if test="orderfrom != null" >
        orderfrom,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="tagPrice != null" >
        tag_price,
      </if>
      <if test="billRebateAmount != null" >
        bill_rebate_amount,
      </if>
      <if test="billRebateDiscount != null" >
        bill_rebate_discount,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="claimNo != null" >
        claim_no,
      </if>
      <if test="returnNo != null" >
        return_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=CHAR},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=INTEGER},
      </if>
       <if test="bizType != null" >
        #{bizType,jdbcType=INTEGER},
      </if>
      <if test="refBillNo != null" >
        #{refBillNo,jdbcType=CHAR},
      </if>
      <if test="refBillType != null" >
        #{refBillType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="buyerNo != null" >
        #{buyerNo,jdbcType=CHAR},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=CHAR},
      </if>
      <if test="salerNo != null" >
        #{salerNo,jdbcType=CHAR},
      </if>
      <if test="salerName != null" >
        #{salerName,jdbcType=CHAR},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendStoreNo != null" >
        #{sendStoreNo,jdbcType=CHAR},
      </if>
      <if test="sendStoreName != null" >
        #{sendStoreName,jdbcType=CHAR},
      </if>
      <if test="receiveStoreNo != null" >
        #{receiveStoreNo,jdbcType=CHAR},
      </if>
      <if test="receiveStoreName != null" >
        #{receiveStoreName,jdbcType=CHAR},
      </if>
      <if test="supplierNo != null" >
        #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=CHAR},
      </if>
      <if test="itemNo != null" >
        #{itemNo,jdbcType=CHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=CHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=CHAR},
      </if>
      <if test="brandNo != null" >
        #{brandNo,jdbcType=CHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=CHAR},
      </if>
      <if test="brandUnitNo != null" >
        #{brandUnitNo,jdbcType=CHAR},
      </if>
      <if test="brandUnitName != null" >
        #{brandUnitName,jdbcType=CHAR},
      </if>
      <if test="categoryNo != null" >
        #{categoryNo,jdbcType=CHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=CHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="billCost != null" >
        #{billCost,jdbcType=DECIMAL},
      </if>
      <if test="actualCost != null" >
        #{actualCost,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="exclusiveCost != null" >
        #{exclusiveCost,jdbcType=DECIMAL},
      </if>
      <if test="sendQty != null" >
        #{sendQty,jdbcType=INTEGER},
      </if>
      <if test="receiveQty != null" >
        #{receiveQty,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="balanceNo != null" >
        #{balanceNo,jdbcType=CHAR},
      </if>
      <if test="isSplit != null" >
        #{isSplit,jdbcType=INTEGER},
      </if>
      <if test="originalBillNo != null" >
        #{originalBillNo,jdbcType=CHAR},
      </if>
       <if test="pathNo != null" >
        #{pathNo,jdbcType=CHAR},
      </if>
      <if test="orderUnitNo != null" >
        #{orderUnitNo,jdbcType=CHAR},
      </if>
       <if test="orderUnitName != null" >
        #{orderUnitName,jdbcType=VARCHAR},
      </if>
       <if test="organNo != null" >
        #{organNo,jdbcType=CHAR},
      </if>
       <if test="organName != null" >
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="zoneNo != null" >
        #{zoneNo,jdbcType=CHAR},
      </if>
       <if test="zoneName != null" >
        #{zoneName,jdbcType=VARCHAR},
      </if>
      <if test="orderUnitNoFrom != null" >
        #{orderUnitNoFrom,jdbcType=CHAR},
      </if>
       <if test="orderUnitNameFrom != null" >
        #{orderUnitNameFrom,jdbcType=VARCHAR},
      </if>
       <if test="organNoFrom != null" >
        #{organNoFrom,jdbcType=CHAR},
      </if>
       <if test="organNameFrom != null" >
        #{organNameFrom,jdbcType=VARCHAR},
      </if>
      <if test="zoneNoFrom != null" >
        #{zoneNoFrom,jdbcType=CHAR},
      </if>
       <if test="zoneNameFrom != null" >
        #{zoneNameFrom,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        #{years,jdbcType=VARCHAR},
      </if>
      <if test="season != null" >
        #{season,jdbcType=VARCHAR},
      </if>
      <if test="orderfrom != null" >
        #{orderfrom,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="tagPrice != null" >
        #{tagPrice,jdbcType=DECIMAL},
      </if>
      <if test="billRebateAmount != null" >
        #{billRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="billRebateDiscount != null" >
        #{billRebateDiscount,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="claimNo != null" >
        #{claimNo,jdbcType=CHAR},
      </if>
      <if test="returnNo != null" >
        #{returnNo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

    <insert id="insertNet" parameterType="cn.wonhigh.retail.fas.common.model.BillSaleBalanceNet" >
    INSERT INTO bill_sale_balance_net
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="bizType != null" >
        biz_type,
      </if>
      <if test="refBillNo != null" >
        ref_bill_no,
      </if>
      <if test="refBillType != null" >
        ref_bill_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="buyerNo != null" >
        buyer_no,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="salerNo != null" >
        saler_no,
      </if>
      <if test="salerName != null" >
        saler_name,
      </if>
      <if test="sendDate != null" >
        send_date,
      </if>
      <if test="receiveDate != null" >
        receive_date,
      </if>
      <if test="sendStoreNo != null" >
        send_store_no,
      </if>
      <if test="sendStoreName != null" >
        send_store_name,
      </if>
      <if test="receiveStoreNo != null" >
        receive_store_no,
      </if>
      <if test="receiveStoreName != null" >
        receive_store_name,
      </if>
      <if test="supplierNo != null" >
        supplier_no,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="itemNo != null" >
        item_no,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="brandNo != null" >
        brand_no,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="brandUnitNo != null" >
        brand_unit_no,
      </if>
      <if test="brandUnitName != null" >
        brand_unit_name,
      </if>
      <if test="categoryNo != null" >
        category_no,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="billCost != null" >
        bill_cost,
      </if>
      <if test="actualCost != null" >
        actual_cost,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
      <if test="exclusiveCost != null" >
        exclusive_cost,
      </if>
      <if test="sendQty != null" >
        send_qty,
      </if>
      <if test="receiveQty != null" >
        receive_qty,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="balanceNo != null" >
        balance_no,
      </if>
      <if test="isSplit != null" >
        is_split,
      </if>
      <if test="originalBillNo != null" >
        original_bill_no,
      </if>
      <if test="pathNo != null" >
        path_no,
      </if>
       <if test="orderUnitNo != null" >
        order_unit_no,
      </if>
       <if test="orderUnitName != null" >
        order_unit_name,
      </if>
       <if test="organNo != null" >
        organ_no,
      </if>
       <if test="organName != null" >
        organ_name,
      </if>
      <if test="zoneNo != null" >
        zone_no,
      </if>
       <if test="zoneName != null" >
        zone_name,
      </if>
       <if test="orderUnitNoFrom != null" >
        order_unit_no_from,
      </if>
       <if test="orderUnitNameFrom != null" >
        order_unit_name_from,
      </if>
       <if test="organNoFrom != null" >
        organ_no_from,
      </if>
       <if test="organNameFrom != null" >
        organ_name_from,
      </if>
      <if test="zoneNoFrom != null" >
        zone_no_from,
      </if>
       <if test="zoneNameFrom != null" >
        zone_name_from,
      </if>
      <if test="years != null" >
        years,
      </if>
      <if test="season != null" >
        season,
      </if>
      <if test="orderfrom != null" >
        orderfrom,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="tagPrice != null" >
        tag_price,
      </if>
      <if test="billRebateAmount != null" >
        bill_rebate_amount,
      </if>
      <if test="billRebateDiscount != null" >
        bill_rebate_discount,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="claimNo != null" >
        claim_no,
      </if>
      <if test="returnNo != null" >
        return_no,
      </if>
      <if test="shardingFlag != null" >
        sharding_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=CHAR},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=INTEGER},
      </if>
       <if test="bizType != null" >
        #{bizType,jdbcType=INTEGER},
      </if>
      <if test="refBillNo != null" >
        #{refBillNo,jdbcType=CHAR},
      </if>
      <if test="refBillType != null" >
        #{refBillType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="buyerNo != null" >
        #{buyerNo,jdbcType=CHAR},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=CHAR},
      </if>
      <if test="salerNo != null" >
        #{salerNo,jdbcType=CHAR},
      </if>
      <if test="salerName != null" >
        #{salerName,jdbcType=CHAR},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendStoreNo != null" >
        #{sendStoreNo,jdbcType=CHAR},
      </if>
      <if test="sendStoreName != null" >
        #{sendStoreName,jdbcType=CHAR},
      </if>
      <if test="receiveStoreNo != null" >
        #{receiveStoreNo,jdbcType=CHAR},
      </if>
      <if test="receiveStoreName != null" >
        #{receiveStoreName,jdbcType=CHAR},
      </if>
      <if test="supplierNo != null" >
        #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=CHAR},
      </if>
      <if test="itemNo != null" >
        #{itemNo,jdbcType=CHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=CHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=CHAR},
      </if>
      <if test="brandNo != null" >
        #{brandNo,jdbcType=CHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=CHAR},
      </if>
      <if test="brandUnitNo != null" >
        #{brandUnitNo,jdbcType=CHAR},
      </if>
      <if test="brandUnitName != null" >
        #{brandUnitName,jdbcType=CHAR},
      </if>
      <if test="categoryNo != null" >
        #{categoryNo,jdbcType=CHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=CHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="billCost != null" >
        #{billCost,jdbcType=DECIMAL},
      </if>
      <if test="actualCost != null" >
        #{actualCost,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="exclusiveCost != null" >
        #{exclusiveCost,jdbcType=DECIMAL},
      </if>
      <if test="sendQty != null" >
        #{sendQty,jdbcType=INTEGER},
      </if>
      <if test="receiveQty != null" >
        #{receiveQty,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="balanceNo != null" >
        #{balanceNo,jdbcType=CHAR},
      </if>
      <if test="isSplit != null" >
        #{isSplit,jdbcType=INTEGER},
      </if>
      <if test="originalBillNo != null" >
        #{originalBillNo,jdbcType=CHAR},
      </if>
       <if test="pathNo != null" >
        #{pathNo,jdbcType=CHAR},
      </if>
      <if test="orderUnitNo != null" >
        #{orderUnitNo,jdbcType=CHAR},
      </if>
       <if test="orderUnitName != null" >
        #{orderUnitName,jdbcType=VARCHAR},
      </if>
       <if test="organNo != null" >
        #{organNo,jdbcType=CHAR},
      </if>
       <if test="organName != null" >
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="zoneNo != null" >
        #{zoneNo,jdbcType=CHAR},
      </if>
       <if test="zoneName != null" >
        #{zoneName,jdbcType=VARCHAR},
      </if>
      <if test="orderUnitNoFrom != null" >
        #{orderUnitNoFrom,jdbcType=CHAR},
      </if>
       <if test="orderUnitNameFrom != null" >
        #{orderUnitNameFrom,jdbcType=VARCHAR},
      </if>
       <if test="organNoFrom != null" >
        #{organNoFrom,jdbcType=CHAR},
      </if>
       <if test="organNameFrom != null" >
        #{organNameFrom,jdbcType=VARCHAR},
      </if>
      <if test="zoneNoFrom != null" >
        #{zoneNoFrom,jdbcType=CHAR},
      </if>
       <if test="zoneNameFrom != null" >
        #{zoneNameFrom,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        #{years,jdbcType=VARCHAR},
      </if>
      <if test="season != null" >
        #{season,jdbcType=VARCHAR},
      </if>
      <if test="orderfrom != null" >
        #{orderfrom,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="tagPrice != null" >
        #{tagPrice,jdbcType=DECIMAL},
      </if>
      <if test="billRebateAmount != null" >
        #{billRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="billRebateDiscount != null" >
        #{billRebateDiscount,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="claimNo != null" >
        #{claimNo,jdbcType=CHAR},
      </if>
      <if test="returnNo != null" >
        #{returnNo,jdbcType=CHAR},
      </if>
      <if test="shardingFlag != null" >
        #{shardingFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
    
  <insert id="batchInsert"  parameterType="map" >
    INSERT INTO bill_sale_balance(
        id,
        fas_bill_code,
        bill_no,
        bill_type,
        biz_type,
        ref_bill_no,
        ref_bill_type,
        status,
        buyer_no,
        buyer_name,
        saler_no,
        saler_name,
        send_date,
        receive_date,
        send_store_no,
        send_store_name,
        receive_store_no,
        receive_store_name,
        supplier_no,
        supplier_name,
        item_no,
        item_name,
        item_code,
        brand_no,
        brand_name,
        brand_unit_no,
        brand_unit_name,
        category_no,
        category_name,
        cost,
        bill_cost,
        actual_cost,
        tax_rate,
        exclusive_cost,
        headquarter_cost,
        region_cost,
        region_cost_second,
        unit_cost,
        unit_cost_second,
        purchase_price,
        material_price,
        factory_price,
        send_qty,
        receive_qty,
        order_no,
        balance_no,
        is_split,
        balance_type,
        original_bill_no,
        path_no,
        order_unit_no,
        order_unit_name,
        organ_no,
        organ_name,
        order_unit_no_from,
        order_unit_name_from,
        organ_no_from,
        organ_name_from,
        zone_no,
        zone_name,
        zone_no_from,
        zone_name_from,
        years,
        season,
        orderfrom,
        gender,
        tag_price,
        tag_price_nation,
        bill_rebate_amount,  
        bill_rebate_discount,
        create_user,
        create_time,
        claim_no,
        return_no,
        remark
    ) 
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >  
    (
       	#{item.id},
       	#{item.fasBillCode},
       	#{item.billNo},
       	#{item.billType},
       	#{item.bizType},
       	#{item.refBillNo},
       	#{item.refBillType},
       	#{item.status},
       	#{item.buyerNo},
       	#{item.buyerName},
       	#{item.salerNo},
       	#{item.salerName},
       	#{item.sendDate},
       	#{item.receiveDate},
       	#{item.sendStoreNo},
       	#{item.sendStoreName},
       	#{item.receiveStoreNo},
       	#{item.receiveStoreName},
       	#{item.supplierNo},
       	#{item.supplierName},
       	#{item.itemNo},
       	#{item.itemName},
       	#{item.itemCode},
       	#{item.brandNo},
       	#{item.brandName},
       	#{item.brandUnitNo},
       	#{item.brandUnitName},
       	#{item.categoryNo},
       	#{item.categoryName},
       	#{item.cost},
       	#{item.billCost},
       	#{item.actualCost},
       	#{item.taxRate},
       	#{item.exclusiveCost},
       	#{item.headquarterCost},
        #{item.regionCost},
        #{item.regionCostSecond},
        #{item.unitCost},
        #{item.unitCostSecond},
        #{item.purchasePrice},
        #{item.materialPrice},
        #{item.factoryPrice},
       	#{item.sendQty},
       	#{item.receiveQty},
       	#{item.orderNo},
       	#{item.balanceNo},
       	#{item.isSplit},
       	#{item.balanceType},
       	#{item.originalBillNo},
       	#{item.pathNo},
       	#{item.orderUnitNo},
       	#{item.orderUnitName},
       	#{item.organNo},
       	#{item.organName},
       	#{item.orderUnitNoFrom},
       	#{item.orderUnitNameFrom},
       	#{item.organNoFrom},
       	#{item.organNameFrom},
       	#{item.zoneNo},
       	#{item.zoneName},
     	#{item.zoneNoFrom},
       	#{item.zoneNameFrom},
       	#{item.years},
        #{item.season},
        #{item.orderfrom},
        #{item.gender},
        #{item.tagPrice},
        #{item.tagPriceNation},
        #{item.billRebateAmount},
        #{item.billRebateDiscount},
        #{item.createUser},
        #{item.createTime},
        #{item.claimNo},
        #{item.returnNo},
        #{item.remark}
    )  
    </foreach>  
  </insert>
  
  <delete id="deleteByBillNo" parameterType="java.lang.String">
  	DELETE FROM bill_sale_balance WHERE original_bill_no = #{billNo} AND (balance_no IS NULL OR balance_no = '') 
  </delete>
  
  <delete id="deleteByBillNoAndItemNo" parameterType="java.lang.String">
  	DELETE FROM bill_sale_balance WHERE original_bill_no = #{billNo} AND item_no = #{itemNo} AND (balance_no IS NULL OR balance_no = '') 
  </delete>
  
  <select id="selectCountByBillNo" parameterType="java.lang.String"  resultType="java.lang.Integer" >
  	SELECT count(1) FROM bill_sale_balance WHERE original_bill_no = #{billNo} AND (balance_no IS NOT NULL AND balance_no != '') 
  </select>
  
  <delete id="invalid"  parameterType="map">
  		DELETE FROM bill_sale_balance WHERE original_bill_no = #{params.billNo} 
  		<if test="params.billType != null and '' != params.billType">
  			AND bill_type = #{params.billType}
  		</if>
 		<if test="params.bizType != null and ''!= params.bizType">
  			AND biz_type = #{params.bizType}
  		</if>
  </delete>
  
  <select id="selectSumBillSaleBalanceByBillNo" resultMap="BaseResultMap" parameterType="java.lang.String">
	  SELECT 
	    saler_no,
	    buyer_no,
	    bill_no,
	    bill_type,
	    biz_type,
	    send_date,
	    IFNULL(sum(bill_rebate_amount),0) bill_rebate_amount, 
	    IFNULL(SUM(cost * send_qty),0) send_amount,
	    (SELECT MIN(order_unit_no) FROM order_unit  WHERE company_no=saler_no) order_unit_no 
	  FROM
	    bill_sale_balance 
	  WHERE bill_no = #{billNo}  
	    AND bill_type = '1335' 
	    AND biz_type IN ('21', '22', '29', '30', '43') 
  </select>
  
  <select id="selectCountByParams" parameterType="map" resultType="java.lang.Integer">
	    SELECT COUNT(1) FROM bill_sale_balance WHERE 1=1
	    <if test="params.billNo != null and '' != params.billNo">
	    	AND original_bill_no = #{params.billNo}
	    </if>
	    <if test="params.billType != null and '' != params.billType">
  			AND bill_type = #{params.billType}
  		</if>
 		<if test="params.bizType != null and ''!= params.bizType">
  			AND biz_type = #{params.bizType}
  		</if>
  		and ((status=11 or (status=9 and receive_qty > 0)) or (1=1
  		<if test="params.balanceNoNotNull != null and ''!= params.balanceNoNotNull">
  			AND balance_no != '' AND balance_no IS NOT NULL
  		</if>
  		))
  	</select>
  	
  	<update id="modifyBillAsnReceiveQty" parameterType="map">
  		UPDATE bill_sale_balance t
  				INNER JOIN (SELECT ref_bill_no, SUM(receive_qty) receive_qty, item_no
              					FROM bill_buy_balance
              				WHERE bill_type = #{params.billType}
                  				AND ref_bill_no = #{params.refBillNo} GROUP BY ref_bill_no, item_no) t1
			SET t.receive_qty = t1.receive_qty
				WHERE t.original_bill_no = t1.ref_bill_no
				    AND t.item_no = t1.item_no
				    AND t.bill_type = #{params.refBillType}
				    AND t.original_bill_no = #{params.refBillNo}
				    AND t.item_no = #{params.itemNo}
  	</update>
  	
  	<select id="selectYearRebateRemainderAmount" parameterType="map" resultType="java.lang.String">
		SELECT 
		  IFNULL(
		    customer_rece_rel_dtl.`rebate_amount`,
		    0
		  ) - IFNULL(
		    customer_rece_rel_dtl.`has_rebate_amount`,
		    0
		  ) rebate_remainder_amount 
		FROM
		  customer_rece_rel,
		  customer_rece_rel_dtl 
		WHERE customer_rece_rel.`id` = customer_rece_rel_dtl.`ref_id` 
		  AND customer_rece_rel.`status` = 1 
		  AND customer_rece_rel.`company_no` = #{params.companyNo}
		  AND customer_rece_rel.`customer_no` = #{params.customerNo}
		  AND customer_rece_rel_dtl.`year` = #{params.year} 
  	</select>
  	
  	<update id="updateRebateAmount" parameterType="map">
		UPDATE 
		  customer_rece_rel,
		  customer_rece_rel_dtl 
		SET
		  customer_rece_rel_dtl.`has_rebate_amount` = IFNULL(
		    customer_rece_rel_dtl.`has_rebate_amount`,
		    0
		  ) + #{params.rebateAmount} 
		WHERE customer_rece_rel.`id` = customer_rece_rel_dtl.`ref_id` 
		  AND customer_rece_rel.`status` = 1 
		  AND customer_rece_rel.`company_no` = #{params.companyNo}
		  AND customer_rece_rel.`customer_no` = #{params.customerNo}
		  AND customer_rece_rel_dtl.`year` = #{params.year} 
  	</update>
  	
  	<select id="selectByRefBillNo" parameterType="java.lang.String" resultMap="BaseResultMap">
  		SELECT id,bill_no,bill_type,biz_type,ref_bill_no,ref_bill_type,buyer_no,buyer_name,saler_no,saler_name,
	        send_date,receive_date,send_store_no,send_store_name,receive_store_no,receive_store_name,supplier_no,supplier_name,
	        item_no,item_name,item_code,brand_no,brand_name,brand_unit_no,brand_unit_name,category_no,category_name,cost,bill_cost,
	        send_qty,receive_qty,is_split,balance_type,original_bill_no,path_no
  		FROM bill_sale_balance WHERE original_bill_no = #{refBillNo}
  	</select>
  	
  	<select id="selectRefBill" parameterType="map" resultMap="BaseResultMap">
  		SELECT id,fas_bill_code,bill_no,bill_type,biz_type,ref_bill_no,ref_bill_type,original_bill_no,buyer_no,buyer_name,saler_no,saler_name,
	        send_date,receive_date,send_store_no,send_store_name,receive_store_no,receive_store_name,supplier_no,supplier_name,
	        item_no,item_name,item_code,brand_no,brand_name,brand_unit_no,brand_unit_name,category_no,category_name,cost,bill_cost,
	        send_qty,receive_qty,is_split,balance_type,original_bill_no,path_no
  		FROM bill_sale_balance WHERE 1=1
  		<if test="null!=params" >
			<if test="null!=params.originalBillNo and ''!=params.originalBillNo" >
				AND original_bill_no = #{params.originalBillNo}
			</if>
			<if test="null!=params.refBillNo and ''!=params.refBillNo" >
				AND ref_bill_no = #{params.refBillNo}
			</if>
			<if test="null!=params.itemNo and ''!=params.itemNo" >
				AND item_no = #{params.itemNo}
			</if>
  		</if>
  		Limit 1
  	</select>
  	<select id="selectParamsCount" parameterType="java.lang.String"  resultType="java.lang.Integer" >
  		SELECT COUNT(1) as s FROM system_param_set WHERE 1=1 AND business_organ_no = #{companyNo}  
  		AND param_code= #{paramCode}  AND dtl_value = #{dtlValue} AND status = 1
  </select>	
</mapper>