<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.api.dal.BillSplitLogApiMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.api.model.BillSplitLogModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ref_bill_no" property="refBillNo" jdbcType="CHAR" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="send_out_date" property="sendOutDate" jdbcType="DATE" />
    <result column="status" property="processStatus" jdbcType="TINYINT" />
    <result column="split_time" property="splitTime" jdbcType="TIMESTAMP" />
    <result column="failure_reason" property="failureReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ref_bill_no, bill_type, send_out_date, status, split_time, failure_reason
  </sql>
  
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  
  <select id="selectByBillNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bill_split_log WHERE 1=1 
     <if test="null!=refBillNo and ''!=refBillNo">
      	 and ref_bill_no = #{refBillNo}
      </if>
  </select>
 
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.api.model.BillSplitLogModel" >
    INSERT INTO bill_split_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="refBillNo != null" >
        ref_bill_no,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="sendOutDate != null" >
        send_out_date,
      </if>
      <if test="processStatus != null" >
        status,
      </if>
      <if test="splitTime != null" >
        split_time,
      </if>
      <if test="failureReason != null" >
        failure_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="refBillNo != null" >
        #{refBillNo,jdbcType=CHAR},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=INTEGER},
      </if>
      <if test="sendOutDate != null" >
        #{sendOutDate,jdbcType=DATE},
      </if>
      <if test="processStatus != null" >
        #{processStatus,jdbcType=TINYINT},
      </if>
      <if test="splitTime != null" >
        #{splitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failureReason != null" >
        #{failureReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="cn.wonhigh.retail.fas.api.model.BillSplitLogModel" >
    UPDATE bill_split_log
    <set >
      <if test="refBillNo != null" >
        ref_bill_no = #{refBillNo,jdbcType=CHAR},
      </if>
      <if test="billType != null" >
        bill_type = #{billType,jdbcType=INTEGER},
      </if>
      <if test="sendOutDate != null" >
        send_out_date = #{sendOutDate,jdbcType=DATE},
      </if>
      <if test="processStatus != null" >
        status = #{processStatus,jdbcType=TINYINT},
      </if>
      <if test="splitTime != null" >
        split_time = #{splitTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    ,failure_reason = #{failureReason,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>