<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.api.dal.WholesaleCustomerRemainingSumMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.api.vo.WholesaleCustomerRemainingSum" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_no" property="companyNo" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="customer_no" property="customerNo" jdbcType="CHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="remaining_amount" property="remainingAmount" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="frozen_customer_amount" property="frozenCustomerAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_no, company_name, customer_no, customer_name, remaining_amount, create_time, 
    update_time, frozen_customer_amount
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.customerNo and ''!=params.customerNo" >
        AND customer_no = #{params.customerNo}
      </if>
    </if>
  </sql>
  
  <update id="updateByCustomerNo" parameterType="map">
    UPDATE wholesale_customer_remaining_sum
      set
      <if test="params.remainingAmount != null" >
        remaining_amount = remaining_amount + #{params.remainingAmount,jdbcType=DECIMAL},
      </if>
      <if test="params.frozenCustomerAmount != null" >
        frozen_customer_amount = frozen_customer_amount + #{params.frozenCustomerAmount,jdbcType=DECIMAL},
      </if>
      update_time=now()
    WHERE customer_no = #{params.customerNo,jdbcType=CHAR}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM wholesale_customer_remaining_sum
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM wholesale_customer_remaining_sum WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM wholesale_customer_remaining_sum WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM wholesale_customer_remaining_sum WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM wholesale_customer_remaining_sum
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.api.vo.WholesaleCustomerRemainingSum" >
    DELETE FROM wholesale_customer_remaining_sum
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.api.vo.WholesaleCustomerRemainingSum" >
    INSERT INTO wholesale_customer_remaining_sum (company_no, company_name, 
      customer_no, customer_name, remaining_amount, 
      create_time, update_time, frozen_customer_amount
      )
    VALUES ( #{companyNo,jdbcType=CHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{customerNo,jdbcType=CHAR}, #{customerName,jdbcType=VARCHAR}, #{remainingAmount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{frozenCustomerAmount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.api.vo.WholesaleCustomerRemainingSum" >
    INSERT INTO wholesale_customer_remaining_sum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="customerNo != null" >
        customer_no,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="remainingAmount != null" >
        remaining_amount,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="frozenCustomerAmount != null" >
        frozen_customer_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     
      <if test="companyNo != null" >
        #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        #{customerNo,jdbcType=CHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="remainingAmount != null" >
        #{remainingAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="frozenCustomerAmount != null" >
        #{frozenCustomerAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.api.vo.WholesaleCustomerRemainingSum" >
    UPDATE wholesale_customer_remaining_sum
    <set >
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        customer_no = #{customerNo,jdbcType=CHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="remainingAmount != null" >
        remaining_amount = #{remainingAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="frozenCustomerAmount != null" >
        frozen_customer_amount = #{frozenCustomerAmount,jdbcType=DECIMAL},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.api.vo.WholesaleCustomerRemainingSum" >
    UPDATE wholesale_customer_remaining_sum
    SET company_no = #{companyNo,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      customer_no = #{customerNo,jdbcType=CHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      remaining_amount = #{remainingAmount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      frozen_customer_amount = #{frozenCustomerAmount,jdbcType=DECIMAL}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>