<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.BalanceDateMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.BalanceDate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="balance_type" property="balanceType" jdbcType="TINYINT" />
    <result column="company_no" property="companyNo" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="supplier_no" property="supplierNo" jdbcType="CHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="customer_no" property="customerNo" jdbcType="CHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="balance_date" property="balanceDate" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, balance_type, company_no, company_name, supplier_no, supplier_name, customer_no, 
    customer_name, balance_date
  </sql>
  <sql id="condition" >
  		-- AND @company_no
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.balanceType and ''!=params.balanceType" >
        AND balance_type = #{params.balanceType}
      </if>
      <if test="null!=params.companyNo and ''!=params.companyNo" >
        AND company_no = #{params.companyNo}
      </if>
      <if test="null!=params.supplierNo and ''!=params.supplierNo" >
        AND supplier_no = #{params.supplierNo}
      </if>
      <if test="null!=params.customerNo and ''!=params.customerNo" >
        AND customer_no = #{params.customerNo}
      </if>
      <if test="null!=params.multiCompanyNo and ''!=params.multiCompanyNo" >
        AND company_no in ${params.multiCompanyNo}
      </if>
      <if test="null!=params.multiSupplierNo and ''!=params.multiSupplierNo" >
        AND supplier_no in ${params.multiSupplierNo}
      </if>
      <if test="null!=params.multiCustomerNo and ''!=params.multiCustomerNo" >
        AND customer_no in ${params.multiCustomerNo}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM balance_date
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM balance_date WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM balance_date WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM balance_date WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM balance_date
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.BalanceDate" >
    DELETE FROM balance_date
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.BalanceDate" >
    INSERT INTO balance_date (id, balance_type, company_no, 
      company_name, supplier_no, supplier_name, 
      customer_no, customer_name, balance_date
      )
    VALUES (#{id,jdbcType=INTEGER}, #{balanceType,jdbcType=TINYINT}, #{companyNo,jdbcType=CHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{supplierNo,jdbcType=CHAR}, #{supplierName,jdbcType=VARCHAR}, 
      #{customerNo,jdbcType=CHAR}, #{customerName,jdbcType=VARCHAR}, #{balanceDate,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.BalanceDate" >
    INSERT INTO balance_date
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="balanceType != null" >
        balance_type,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="supplierNo != null" >
        supplier_no,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="customerNo != null" >
        customer_no,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="balanceDate != null" >
        balance_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="balanceType != null" >
        #{balanceType,jdbcType=TINYINT},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="supplierNo != null" >
        #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        #{customerNo,jdbcType=CHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="balanceDate != null" >
        #{balanceDate,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.BalanceDate" >
    UPDATE balance_date
    <set >
      <if test="balanceType != null" >
        balance_type = #{balanceType,jdbcType=TINYINT},
      </if>
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="supplierNo != null" >
        supplier_no = #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        customer_no = #{customerNo,jdbcType=CHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="balanceDate != null" >
        balance_date = #{balanceDate,jdbcType=CHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.BalanceDate" >
    UPDATE balance_date
    SET balance_type = #{balanceType,jdbcType=TINYINT},
      company_no = #{companyNo,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      supplier_no = #{supplierNo,jdbcType=CHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      customer_no = #{customerNo,jdbcType=CHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      balance_date = #{balanceDate,jdbcType=CHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>