<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.BillInvoiceApplyDtlMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.BillInvoiceApplyDtl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bill_no" property="billNo" jdbcType="CHAR" />
    <result column="brand_no" property="brandNo" jdbcType="CHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="category_no" property="categoryNo" jdbcType="CHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="send_out_qty" property="sendOutQty" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="balance_start_date" property="balanceStartDate" jdbcType="DATE" />
    <result column="balance_end_date" property="balanceEndDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bill_no, brand_no, brand_name, category_no, category_name, send_out_qty, cost, 
    tax_rate, balance_start_date, balance_end_date
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.billNo and ''!=params.billNo" >
        and bill_no = #{params.billNo}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM bill_invoice_apply_dtl
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM bill_invoice_apply_dtl WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bill_invoice_apply_dtl WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bill_invoice_apply_dtl WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM bill_invoice_apply_dtl
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApplyDtl" >
    DELETE FROM bill_invoice_apply_dtl
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApplyDtl" >
    INSERT INTO bill_invoice_apply_dtl (id, bill_no, brand_no, 
      brand_name, category_no, category_name, 
      send_out_qty, cost, tax_rate, 
      balance_start_date, balance_end_date)
    VALUES (#{id,jdbcType=INTEGER}, #{billNo,jdbcType=CHAR}, #{brandNo,jdbcType=CHAR}, 
      #{brandName,jdbcType=VARCHAR}, #{categoryNo,jdbcType=CHAR}, #{categoryName,jdbcType=VARCHAR}, 
      #{sendOutQty,jdbcType=INTEGER}, #{cost,jdbcType=DECIMAL}, #{taxRate,jdbcType=DECIMAL}, 
      #{balanceStartDate,jdbcType=DATE}, #{balanceEndDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApplyDtl" >
    INSERT INTO bill_invoice_apply_dtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="brandNo != null" >
        brand_no,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="categoryNo != null" >
        category_no,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="sendOutQty != null" >
        send_out_qty,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
      <if test="balanceStartDate != null" >
        balance_start_date,
      </if>
      <if test="balanceEndDate != null" >
        balance_end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=CHAR},
      </if>
      <if test="brandNo != null" >
        #{brandNo,jdbcType=CHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="categoryNo != null" >
        #{categoryNo,jdbcType=CHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="sendOutQty != null" >
        #{sendOutQty,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="balanceStartDate != null" >
        #{balanceStartDate,jdbcType=DATE},
      </if>
      <if test="balanceEndDate != null" >
        #{balanceEndDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApplyDtl" >
    UPDATE bill_invoice_apply_dtl
    <set >
      <if test="billNo != null" >
        bill_no = #{billNo,jdbcType=CHAR},
      </if>
      <if test="brandNo != null" >
        brand_no = #{brandNo,jdbcType=CHAR},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="categoryNo != null" >
        category_no = #{categoryNo,jdbcType=CHAR},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="sendOutQty != null" >
        send_out_qty = #{sendOutQty,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="balanceStartDate != null" >
        balance_start_date = #{balanceStartDate,jdbcType=DATE},
      </if>
      <if test="balanceEndDate != null" >
        balance_end_date = #{balanceEndDate,jdbcType=DATE},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApplyDtl" >
    UPDATE bill_invoice_apply_dtl
    SET bill_no = #{billNo,jdbcType=CHAR},
      brand_no = #{brandNo,jdbcType=CHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      category_no = #{categoryNo,jdbcType=CHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      send_out_qty = #{sendOutQty,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      balance_start_date = #{balanceStartDate,jdbcType=DATE},
      balance_end_date = #{balanceEndDate,jdbcType=DATE}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>