<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.BillInvoiceApplyMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.BillInvoiceApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bill_no" property="billNo" jdbcType="CHAR" />
    <result column="balance_no" property="balanceNo" jdbcType="CHAR" />
    <result column="invoice_type" property="invoiceType" jdbcType="TINYINT" />
    <result column="company_no" property="companyNo" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="customer_no" property="customerNo" jdbcType="CHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="pay_unit" property="payUnit" jdbcType="VARCHAR" />
    <result column="tax_registry_no" property="taxRegistryNo" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="invoice_no" property="invoiceNo" jdbcType="CHAR" />
    <result column="invoice_apply_time" property="invoiceApplyTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="pre_invoice" property="preInvoice" jdbcType="TINYINT" />
    <result column="mailing_address" property="mailingAddress" jdbcType="VARCHAR" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="delivery_no" property="deliveryNo" jdbcType="CHAR" />
    <result column="express" property="express" jdbcType="VARCHAR" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="DtoResultMap" type="cn.wonhigh.retail.fas.common.dto.BillInvoiceApplyDto" extends="BaseResultMap">
  	  <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, bill_no, balance_no, invoice_type, company_no, company_name, customer_no, customer_name, 
    contact_name, tel, address, pay_unit, tax_registry_no, bank_name, bank_account, invoice_no, 
    invoice_apply_time, pay_time, pre_invoice, mailing_address, delivery_time, delivery_no, 
    express, receive_time, create_user, create_time, update_user, update_time, auditor, 
    audit_time, audit_status, remark
  </sql>
  
   <sql id="Dto_Column_List" >
    id, bill_no, balance_no, invoice_type, company_no, company_name, customer_no, customer_name, 
    contact_name, tel, address, pay_unit, tax_registry_no, bank_name, bank_account, invoice_no, 
    invoice_apply_time, pay_time, pre_invoice, mailing_address, delivery_time, delivery_no, 
    express, receive_time, create_user, create_time, update_user, update_time, auditor, 
    audit_time, audit_status, remark,
    (SELECT SUM(t.send_out_qty * t.cost) FROM bill_invoice_apply_dtl t WHERE t.bill_no = bill_invoice_apply.bill_no) total_amount
  </sql>
  
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
       <if test="null!=params.companyName and ''!=params.companyName" >
         AND company_name like '%${params.companyName}%'
      </if>
       <if test="null!=params.customerName and ''!=params.customerName" >
         AND customer_name like '%${params.customerName}%'
      </if>
      <if test="null!=params.auditStatus and ''!=params.auditStatus" >
         AND audit_status = #{params.auditStatus}
      </if>
      <if test="null!=params.balanceNo and ''!=params.balanceNo" >
         AND balance_no = #{params.balanceNo}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM bill_invoice_apply
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM bill_invoice_apply WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="DtoResultMap" parameterType="map" >
    SELECT 
    <include refid="Dto_Column_List" />
     FROM bill_invoice_apply WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bill_invoice_apply WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM bill_invoice_apply
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApply" >
    DELETE FROM bill_invoice_apply
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApply" >
    INSERT INTO bill_invoice_apply (id, bill_no, balance_no, 
      invoice_type, company_no, company_name, 
      customer_no, customer_name, contact_name, 
      tel, address, pay_unit, 
      tax_registry_no, bank_name, bank_account, 
      invoice_no, invoice_apply_time, pay_time, 
      pre_invoice, mailing_address, delivery_time, 
      delivery_no, express, receive_time, 
      create_user, create_time, update_user, 
      update_time, auditor, audit_time, 
      audit_status, remark)
    VALUES (#{id,jdbcType=INTEGER}, #{billNo,jdbcType=CHAR}, #{balanceNo,jdbcType=CHAR}, 
      #{invoiceType,jdbcType=TINYINT}, #{companyNo,jdbcType=CHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{customerNo,jdbcType=CHAR}, #{customerName,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{payUnit,jdbcType=VARCHAR}, 
      #{taxRegistryNo,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, 
      #{invoiceNo,jdbcType=CHAR}, #{invoiceApplyTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{preInvoice,jdbcType=TINYINT}, #{mailingAddress,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=TIMESTAMP}, 
      #{deliveryNo,jdbcType=CHAR}, #{express,jdbcType=VARCHAR}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{auditor,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditStatus,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApply" >
    INSERT INTO bill_invoice_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="balanceNo != null" >
        balance_no,
      </if>
      <if test="invoiceType != null" >
        invoice_type,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="customerNo != null" >
        customer_no,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="payUnit != null" >
        pay_unit,
      </if>
      <if test="taxRegistryNo != null" >
        tax_registry_no,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="invoiceNo != null" >
        invoice_no,
      </if>
      <if test="invoiceApplyTime != null" >
        invoice_apply_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="preInvoice != null" >
        pre_invoice,
      </if>
      <if test="mailingAddress != null" >
        mailing_address,
      </if>
      <if test="deliveryTime != null" >
        delivery_time,
      </if>
      <if test="deliveryNo != null" >
        delivery_no,
      </if>
      <if test="express != null" >
        express,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=CHAR},
      </if>
      <if test="balanceNo != null" >
        #{balanceNo,jdbcType=CHAR},
      </if>
      <if test="invoiceType != null" >
        #{invoiceType,jdbcType=TINYINT},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        #{customerNo,jdbcType=CHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="payUnit != null" >
        #{payUnit,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistryNo != null" >
        #{taxRegistryNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null" >
        #{invoiceNo,jdbcType=CHAR},
      </if>
      <if test="invoiceApplyTime != null" >
        #{invoiceApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preInvoice != null" >
        #{preInvoice,jdbcType=TINYINT},
      </if>
      <if test="mailingAddress != null" >
        #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryNo != null" >
        #{deliveryNo,jdbcType=CHAR},
      </if>
      <if test="express != null" >
        #{express,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApply" >
    UPDATE bill_invoice_apply
    <set >
      <if test="billNo != null" >
        bill_no = #{billNo,jdbcType=CHAR},
      </if>
      <if test="balanceNo != null" >
        balance_no = #{balanceNo,jdbcType=CHAR},
      </if>
      <if test="invoiceType != null" >
        invoice_type = #{invoiceType,jdbcType=TINYINT},
      </if>
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        customer_no = #{customerNo,jdbcType=CHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="payUnit != null" >
        pay_unit = #{payUnit,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistryNo != null" >
        tax_registry_no = #{taxRegistryNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null" >
        invoice_no = #{invoiceNo,jdbcType=CHAR},
      </if>
      <if test="invoiceApplyTime != null" >
        invoice_apply_time = #{invoiceApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preInvoice != null" >
        pre_invoice = #{preInvoice,jdbcType=TINYINT},
      </if>
      <if test="mailingAddress != null" >
        mailing_address = #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryNo != null" >
        delivery_no = #{deliveryNo,jdbcType=CHAR},
      </if>
      <if test="express != null" >
        express = #{express,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.BillInvoiceApply" >
    UPDATE bill_invoice_apply
    SET bill_no = #{billNo,jdbcType=CHAR},
      balance_no = #{balanceNo,jdbcType=CHAR},
      invoice_type = #{invoiceType,jdbcType=TINYINT},
      company_no = #{companyNo,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      customer_no = #{customerNo,jdbcType=CHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      pay_unit = #{payUnit,jdbcType=VARCHAR},
      tax_registry_no = #{taxRegistryNo,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      invoice_no = #{invoiceNo,jdbcType=CHAR},
      invoice_apply_time = #{invoiceApplyTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      pre_invoice = #{preInvoice,jdbcType=TINYINT},
      mailing_address = #{mailingAddress,jdbcType=VARCHAR},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      delivery_no = #{deliveryNo,jdbcType=CHAR},
      express = #{express,jdbcType=VARCHAR},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>