<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.BillShopBalanceCodeSumMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.BillShopBalanceCodeSum" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="bill_no" property="billNo" jdbcType="CHAR" />
    <result column="balance_no" property="balanceNo" jdbcType="CHAR" />
    <result column="company_no" property="companyNo" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="mall_no" property="mallNo" jdbcType="CHAR" />
    <result column="mall_name" property="mallName" jdbcType="VARCHAR" />
    <result column="shop_no" property="shopNo" jdbcType="CHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="month" property="month" jdbcType="CHAR" />
    <result column="balance_start_date" property="balanceStartDate" jdbcType="DATE" />
    <result column="balance_end_date" property="balanceEndDate" jdbcType="DATE" />
    <result column="billing_code" property="billingCode" jdbcType="VARCHAR" />
    <result column="sale_amount" property="saleAmount" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="discount_name" property="discountName" jdbcType="VARCHAR" />
    <result column="deduct_amount" property="deductAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bill_no, balance_no, company_no, company_name, mall_no, mall_name, shop_no, short_name, 
    full_name, month, balance_start_date, balance_end_date, billing_code, sale_amount, 
    discount, discount_name, deduct_amount
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
       <if test="null!=params.shopNo and ''!=params.shopNo">
        AND shop_no = #{params.shopNo}
      </if>
       <if test="null!=params.month and ''!=params.month" >
        AND month = #{params.month}
      </if> 
       <if test="null!=params.startDate and ''!=params.startDate" >
        AND balance_start_date &gt;= '${params.startDate} 00:00:00'
      </if>  
       <if test="null!=params.endDate and ''!=params.endDate" >
        AND balance_end_date &lt;= '${params.endDate} 23:59:59'
      </if> 
       <if test="null!=params.balanceNo and ''!=params.balanceNo" >
        AND balance_no = #{params.balanceNo}
      </if> 
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM bill_shop_balance_code_sum
    WHERE id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM bill_shop_balance_code_sum WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bill_shop_balance_code_sum WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM bill_shop_balance_code_sum WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM bill_shop_balance_code_sum
    WHERE id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.BillShopBalanceCodeSum" >
    DELETE FROM bill_shop_balance_code_sum
    WHERE id = #{id,jdbcType=CHAR}
  </delete>
  
   <delete id="deleteBalanceNoForModel" parameterType="cn.wonhigh.retail.fas.common.model.BillShopBalanceCodeSum" >
    DELETE FROM bill_shop_balance_code_sum
    WHERE balance_no = #{balanceNo,jdbcType=INTEGER}
  </delete>
  
  <select id="getSumAmount" resultMap="BaseResultMap" parameterType="map" >
    	SELECT SUM(sale_amount) as total_sale_amount, 
    		SUM(deduct_amount) deduct_amount
    	FROM bill_shop_balance_code_sum WHERE 1=1 
    	<include refid="condition" />
   </select>
   
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.BillShopBalanceCodeSum" >
    INSERT INTO bill_shop_balance_code_sum (sharding_flag,id, bill_no, balance_no, 
      company_no, company_name, mall_no, 
      mall_name, shop_no, short_name, 
      full_name, month, balance_start_date, 
      balance_end_date, billing_code, sale_amount, 
      discount, discount_name, deduct_amount
      )
    VALUES (#{shardingFlag,jdbcType=CHAR}, #{id,jdbcType=CHAR}, #{billNo,jdbcType=CHAR}, #{balanceNo,jdbcType=CHAR}, 
      #{companyNo,jdbcType=CHAR}, #{companyName,jdbcType=VARCHAR}, #{mallNo,jdbcType=CHAR}, 
      #{mallName,jdbcType=VARCHAR}, #{shopNo,jdbcType=CHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{fullName,jdbcType=VARCHAR}, #{month,jdbcType=CHAR}, #{balanceStartDate,jdbcType=DATE}, 
      #{balanceEndDate,jdbcType=DATE}, #{billingCode,jdbcType=VARCHAR}, #{saleAmount,jdbcType=DECIMAL}, 
      #{discount,jdbcType=DECIMAL}, #{discountName,jdbcType=VARCHAR}, #{deductAmount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.BillShopBalanceCodeSum" >
    INSERT INTO bill_shop_balance_code_sum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shardingFlag != null" >
        sharding_flag,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="balanceNo != null" >
        balance_no,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="mallNo != null" >
        mall_no,
      </if>
      <if test="mallName != null" >
        mall_name,
      </if>
      <if test="shopNo != null" >
        shop_no,
      </if>
      <if test="shortName != null" >
        short_name,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="balanceStartDate != null" >
        balance_start_date,
      </if>
      <if test="balanceEndDate != null" >
        balance_end_date,
      </if>
      <if test="billingCode != null" >
        billing_code,
      </if>
      <if test="saleAmount != null" >
        sale_amount,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="discountName != null" >
        discount_name,
      </if>
      <if test="deductAmount != null" >
        deduct_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
       <if test="shardingFlag != null" >
         #{shardingFlag,jdbcType=CHAR},
      </if>   	
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=CHAR},
      </if>
      <if test="balanceNo != null" >
        #{balanceNo,jdbcType=CHAR},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="mallNo != null" >
        #{mallNo,jdbcType=CHAR},
      </if>
      <if test="mallName != null" >
        #{mallName,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null" >
        #{shopNo,jdbcType=CHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=CHAR},
      </if>
      <if test="balanceStartDate != null" >
        #{balanceStartDate,jdbcType=DATE},
      </if>
      <if test="balanceEndDate != null" >
        #{balanceEndDate,jdbcType=DATE},
      </if>
      <if test="billingCode != null" >
        #{billingCode,jdbcType=VARCHAR},
      </if>
      <if test="saleAmount != null" >
        #{saleAmount,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="discountName != null" >
        #{discountName,jdbcType=VARCHAR},
      </if>
      <if test="deductAmount != null" >
        #{deductAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.BillShopBalanceCodeSum" >
    UPDATE bill_shop_balance_code_sum
    <set >
      <if test="billNo != null" >
        bill_no = #{billNo,jdbcType=CHAR},
      </if>
      <if test="balanceNo != null" >
        balance_no = #{balanceNo,jdbcType=CHAR},
      </if>
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="mallNo != null" >
        mall_no = #{mallNo,jdbcType=CHAR},
      </if>
      <if test="mallName != null" >
        mall_name = #{mallName,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null" >
        shop_no = #{shopNo,jdbcType=CHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=CHAR},
      </if>
      <if test="balanceStartDate != null" >
        balance_start_date = #{balanceStartDate,jdbcType=DATE},
      </if>
      <if test="balanceEndDate != null" >
        balance_end_date = #{balanceEndDate,jdbcType=DATE},
      </if>
      <if test="billingCode != null" >
        billing_code = #{billingCode,jdbcType=VARCHAR},
      </if>
      <if test="saleAmount != null" >
        sale_amount = #{saleAmount,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="discountName != null" >
        discount_name = #{discountName,jdbcType=VARCHAR},
      </if>
      <if test="deductAmount != null" >
        deduct_amount = #{deductAmount,jdbcType=DECIMAL},
      </if>
    </set>
    WHERE id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.BillShopBalanceCodeSum" >
    UPDATE bill_shop_balance_code_sum
    SET bill_no = #{billNo,jdbcType=CHAR},
      balance_no = #{balanceNo,jdbcType=CHAR},
      company_no = #{companyNo,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      mall_no = #{mallNo,jdbcType=CHAR},
      mall_name = #{mallName,jdbcType=VARCHAR},
      shop_no = #{shopNo,jdbcType=CHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      month = #{month,jdbcType=CHAR},
      balance_start_date = #{balanceStartDate,jdbcType=DATE},
      balance_end_date = #{balanceEndDate,jdbcType=DATE},
      billing_code = #{billingCode,jdbcType=VARCHAR},
      sale_amount = #{saleAmount,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      discount_name = #{discountName,jdbcType=VARCHAR},
      deduct_amount = #{deductAmount,jdbcType=DECIMAL}
    WHERE id = #{id,jdbcType=CHAR}
  </update>
</mapper>