<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.CheckTolerMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.CheckToler" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_no" property="companyNo" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="supplier_no" property="supplierNo" jdbcType="CHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="pretax_toler_low" property="pretaxTolerLow" jdbcType="DECIMAL" />
    <result column="pretax_toler_up" property="pretaxTolerUp" jdbcType="DECIMAL" />
    <result column="aftertax_toler_low" property="aftertaxTolerLow" jdbcType="DECIMAL" />
    <result column="aftertax_toler_up" property="aftertaxTolerUp" jdbcType="DECIMAL" />
    <result column="notax_toler_low" property="notaxTolerLow" jdbcType="DECIMAL" />
    <result column="notax_toler_up" property="notaxTolerUp" jdbcType="DECIMAL" />
    <result column="effective_date" property="effectiveDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_no, company_name, supplier_no, supplier_name, pretax_toler_low, pretax_toler_up, 
    aftertax_toler_low, aftertax_toler_up, notax_toler_low, notax_toler_up, effective_date, 
    create_user, create_time, update_user, update_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.companyNo and ''!=params.companyNo" >
	    and company_no =#{params.companyNo}
	  </if>
	  <if test="null!=params.supplierNo and ''!=params.supplierNo" >
	    and supplier_no =#{params.supplierNo}
	  </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM check_toler
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM check_toler WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM check_toler WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM check_toler WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM check_toler
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.CheckToler" >
    DELETE FROM check_toler
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.CheckToler" >
    INSERT INTO check_toler (id, company_no, company_name, 
      supplier_no, supplier_name, pretax_toler_low, 
      pretax_toler_up, aftertax_toler_low, aftertax_toler_up, 
      notax_toler_low, notax_toler_up, effective_date, 
      create_user, create_time, update_user, 
      update_time)
    VALUES (#{id,jdbcType=INTEGER}, #{companyNo,jdbcType=CHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{supplierNo,jdbcType=CHAR}, #{supplierName,jdbcType=VARCHAR}, #{pretaxTolerLow,jdbcType=DECIMAL}, 
      #{pretaxTolerUp,jdbcType=DECIMAL}, #{aftertaxTolerLow,jdbcType=DECIMAL}, #{aftertaxTolerUp,jdbcType=DECIMAL}, 
      #{notaxTolerLow,jdbcType=DECIMAL}, #{notaxTolerUp,jdbcType=DECIMAL}, #{effectiveDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.CheckToler" >
    INSERT INTO check_toler
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="supplierNo != null" >
        supplier_no,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="pretaxTolerLow != null" >
        pretax_toler_low,
      </if>
      <if test="pretaxTolerUp != null" >
        pretax_toler_up,
      </if>
      <if test="aftertaxTolerLow != null" >
        aftertax_toler_low,
      </if>
      <if test="aftertaxTolerUp != null" >
        aftertax_toler_up,
      </if>
      <if test="notaxTolerLow != null" >
        notax_toler_low,
      </if>
      <if test="notaxTolerUp != null" >
        notax_toler_up,
      </if>
      <if test="effectiveDate != null" >
        effective_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="supplierNo != null" >
        #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="pretaxTolerLow != null" >
        #{pretaxTolerLow,jdbcType=DECIMAL},
      </if>
      <if test="pretaxTolerUp != null" >
        #{pretaxTolerUp,jdbcType=DECIMAL},
      </if>
      <if test="aftertaxTolerLow != null" >
        #{aftertaxTolerLow,jdbcType=DECIMAL},
      </if>
      <if test="aftertaxTolerUp != null" >
        #{aftertaxTolerUp,jdbcType=DECIMAL},
      </if>
      <if test="notaxTolerLow != null" >
        #{notaxTolerLow,jdbcType=DECIMAL},
      </if>
      <if test="notaxTolerUp != null" >
        #{notaxTolerUp,jdbcType=DECIMAL},
      </if>
      <if test="effectiveDate != null" >
        #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.CheckToler" >
    UPDATE check_toler
    <set >
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="supplierNo != null" >
        supplier_no = #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="pretaxTolerLow != null" >
        pretax_toler_low = #{pretaxTolerLow,jdbcType=DECIMAL},
      </if>
      <if test="pretaxTolerUp != null" >
        pretax_toler_up = #{pretaxTolerUp,jdbcType=DECIMAL},
      </if>
      <if test="aftertaxTolerLow != null" >
        aftertax_toler_low = #{aftertaxTolerLow,jdbcType=DECIMAL},
      </if>
      <if test="aftertaxTolerUp != null" >
        aftertax_toler_up = #{aftertaxTolerUp,jdbcType=DECIMAL},
      </if>
      <if test="notaxTolerLow != null" >
        notax_toler_low = #{notaxTolerLow,jdbcType=DECIMAL},
      </if>
      <if test="notaxTolerUp != null" >
        notax_toler_up = #{notaxTolerUp,jdbcType=DECIMAL},
      </if>
      <if test="effectiveDate != null" >
        effective_date = #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.CheckToler" >
    UPDATE check_toler
    SET company_no = #{companyNo,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      supplier_no = #{supplierNo,jdbcType=CHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      pretax_toler_low = #{pretaxTolerLow,jdbcType=DECIMAL},
      pretax_toler_up = #{pretaxTolerUp,jdbcType=DECIMAL},
      aftertax_toler_low = #{aftertaxTolerLow,jdbcType=DECIMAL},
      aftertax_toler_up = #{aftertaxTolerUp,jdbcType=DECIMAL},
      notax_toler_low = #{notaxTolerLow,jdbcType=DECIMAL},
      notax_toler_up = #{notaxTolerUp,jdbcType=DECIMAL},
      effective_date = #{effectiveDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>