<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.CompanyMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_no" property="companyNo" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="tax_registry_no" property="taxRegistryNo" jdbcType="VARCHAR" />
    <result column="tax_level" property="taxLevel" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="identity_card" property="identityCard" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="zone_no" property="zoneNo" jdbcType="CHAR" />
    <result column="zone_name" property="zoneName" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="time_seq" property="timeSeq" jdbcType="BIGINT" />
    <result column="search_code" property="searchCode" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" /> 
    <result column="code" property="code" jdbcType="CHAR" />
    <result column="organ_type_no" property="organTypeNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_no, name, status, bank_name, bank_account, bank_account_name, contact_name, 
    tel, tax_registry_no, tax_level, legal_person, identity_card, fax, email, zone_no, 
    (SELECT name FROM zone_info WHERE company.zone_no = zone_info.zone_no) zone_name,
    create_user, create_time, update_user, update_time, remark, time_seq, search_code, 
    address, company_no code,organ_type_no
  </sql>
  <sql id="condition">
    /*organ_type_no*/
  	<if test="null == params">
  		-- AND @company_no
  	</if>
    <if test="null!=params" >
      <if test="(params.dataAccess == null or params.dataAccess == '') or params.dataAccess == 1">
    		-- AND @company_no
      </if>
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.organTypeNo and ''!=params.organTypeNo" >
       AND organ_type_no = #{params.organTypeNo}
      </if>
      <if test="null!=params.companyNo and ''!=params.companyNo" >
       AND company_no = #{params.companyNo}
      </if>
       <if test="null!=params.organTypeNo and ''!=params.organTypeNo" >
       	AND organ_type_no = #{params.organTypeNo}
      </if>
      <if test="null!=params.companyNoLike and ''!=params.companyNoLike">
      	AND company_no like '%${params.companyNoLike}%'
      </if>
      <if test="null!=params.name and ''!=params.name" >
       AND NAME = '%${params.name}%'
      </if>
      <if test="null!=params.nameLike and ''!=params.nameLike" >
       AND NAME LIKE '%${params.nameLike}%'
      </if>
      <!-- combogrid自动完成功能 -->
	  <if test="null!=params.q and ''!=params.q">
		AND (UPPER(company_no) LIKE UPPER(CONCAT(#{params.q},'%')) OR name LIKE UPPER(CONCAT('%',#{params.q},'%'))) 
	  </if>
	  <!-- combogrid自动完成功能  多选-->
	  <if test="null!=params.multiq and ''!=params.multiq">
		AND (UPPER(company_no) IN ${params.multiq} OR UPPER(name) IN ${params.multiq} ) 
	  </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    SELECT 
    <include refid="Base_Column_List" />
    FROM company
    WHERE id = #{id,jdbcType=INTEGER}
    or company_no = #{companyNo,jdbcType=CHAR}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM company WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM company WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM company WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM company
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.Company" >
    DELETE FROM company
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.Company" >
    INSERT INTO company (id, company_no, name, 
      status, bank_name, bank_account, 
      bank_account_name, contact_name, tel, 
      tax_registry_no, tax_level, legal_person, 
      identity_card, fax, email, 
      zone_no, create_user, create_time, 
      update_user, update_time, remark, 
      time_seq, search_code, address
      )
    VALUES (#{id,jdbcType=INTEGER}, #{companyNo,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, 
      #{bankAccountName,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{taxRegistryNo,jdbcType=VARCHAR}, #{taxLevel,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR}, 
      #{identityCard,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{zoneNo,jdbcType=CHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{timeSeq,jdbcType=BIGINT}, #{searchCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.Company" >
    INSERT INTO company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="bankAccountName != null" >
        bank_account_name,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="taxRegistryNo != null" >
        tax_registry_no,
      </if>
      <if test="taxLevel != null" >
        tax_level,
      </if>
      <if test="legalPerson != null" >
        legal_person,
      </if>
      <if test="identityCard != null" >
        identity_card,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="zoneNo != null" >
        zone_no,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="timeSeq != null" >
        time_seq,
      </if>
      <if test="searchCode != null" >
        search_code,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountName != null" >
        #{bankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistryNo != null" >
        #{taxRegistryNo,jdbcType=VARCHAR},
      </if>
      <if test="taxLevel != null" >
        #{taxLevel,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null" >
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="zoneNo != null" >
        #{zoneNo,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="timeSeq != null" >
        #{timeSeq,jdbcType=BIGINT},
      </if>
      <if test="searchCode != null" >
        #{searchCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.Company" >
    UPDATE company
    <set >
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountName != null" >
        bank_account_name = #{bankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistryNo != null" >
        tax_registry_no = #{taxRegistryNo,jdbcType=VARCHAR},
      </if>
      <if test="taxLevel != null" >
        tax_level = #{taxLevel,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null" >
        identity_card = #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="zoneNo != null" >
        zone_no = #{zoneNo,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="timeSeq != null" >
        time_seq = #{timeSeq,jdbcType=BIGINT},
      </if>
      <if test="searchCode != null" >
        search_code = #{searchCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.Company" >
    UPDATE company
    SET company_no = #{companyNo,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      bank_account_name = #{bankAccountName,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      tax_registry_no = #{taxRegistryNo,jdbcType=VARCHAR},
      tax_level = #{taxLevel,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      identity_card = #{identityCard,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      zone_no = #{zoneNo,jdbcType=CHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      time_seq = #{timeSeq,jdbcType=BIGINT},
      search_code = #{searchCode,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findCompanyNameByNo" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT name FROM company WHERE company_no=#{companyNo}
  </select>
    
  <select id="getCompanyByShopNo" resultMap="BaseResultMap" parameterType="map" >
	SELECT
		t.address,
		t.bank_account,
		t.bank_account_name,
		t.bank_name,
		t.company_no,
		t.contact_name,
		t.create_time,
		t.create_user,
		t.email,
		t.fax,
		t.id,
		t.identity_card,
		t.legal_person,
		t.`name`,
		t.remark,
		t.search_code,
		t.`status`,
		t.tax_level,
		t.tax_registry_no,
		t.tel,
		t.update_time,
		t.update_user,
		t.zone_no
	FROM
		company t
	INNER JOIN (
		SELECT
			company_no
		FROM
			shop
		WHERE
			shop_no = #{params.shopNo}
	) t1 ON t.company_no = t1.company_no
	AND t.`status` = '1'
  </select>
  
  <select id="findAllCompanyWithoutPermission" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" />
     FROM company WHERE status=1 
  </select>
  
  <select id="getCompanyByShopNoWithDate" resultMap="BaseResultMap" parameterType="map" >
	SELECT 
		t.id,t.company_no,t.name,t.status,t.bank_name,t.bank_account,t.bank_account_name,t.contact_name,t.tel,
		t.tax_registry_no,t.tax_level,t.legal_person,t.identity_card,t.`fax`,t.email,t.zone_no,t.create_user,
		t.create_time,t.update_user,t.update_time,t.remark,t.time_seq,t.search_code,t.address
	FROM (
		SELECT company_no 
		FROM shop_company
		WHERE status = 1
			AND shop_no = #{params.shopNo, jdbcType=CHAR}
			AND effective_date &lt;= #{params.date, jdbcType=DATE}
		ORDER BY effective_date DESC
		LIMIT 1
	) AS sc
	JOIN company t
	ON t.company_no = sc.company_no
  </select>
  
</mapper>