<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.InsidePurchaseBalanceDateMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.InsidePurchaseBalanceDate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_no" property="companyNo" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="balance_month" property="balanceMonth" jdbcType="CHAR" />
    <result column="balance_start_date" property="balanceStartDate" jdbcType="DATE" />
    <result column="balance_end_date" property="balanceEndDate" jdbcType="DATE" />
    <result column="invoice_flag" property="invoiceFlag" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
     <result column="bill_type" property="billType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_no, company_name, balance_month, balance_start_date, balance_end_date, 
    invoice_flag, remark, create_user, create_time, update_user, update_time,bill_type
  </sql>
  <sql id="condition" >
  	-- AND @company_no
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.companyNo and ''!=params.companyNo">
		AND company_no = #{params.companyNo}
	  </if>
	  <if test="null!=params.balanceMonth and ''!=params.balanceMonth">
	  	AND balance_month = #{params.balanceMonth}
	  </if>
	  <if test="null != params.balanceDate and ''!= params.balanceDate">
	  	AND balance_start_date &lt;= #{params.balanceDate} and balance_end_date &gt;= #{params.balanceDate} 
	  	AND balance_month = EXTRACT(YEAR_MONTH FROM #{params.balanceDate})
	  </if>
	  <if test="null!=params.invoiceFlag and ''!=params.invoiceFlag">
	  	AND invoice_flag = #{params.invoiceFlag}
	  </if>
	  AND bill_type = 1
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM inside_purchase_balance_date
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM inside_purchase_balance_date WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM inside_purchase_balance_date WHERE 1=1 
    <include refid="condition" />
    order by create_time desc
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM inside_purchase_balance_date WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM inside_purchase_balance_date
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.InsidePurchaseBalanceDate" >
    DELETE FROM inside_purchase_balance_date
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.InsidePurchaseBalanceDate" >
    INSERT INTO inside_purchase_balance_date (id, company_no, company_name, 
      balance_month, balance_start_date, balance_end_date, 
      invoice_flag, remark, create_user, 
      create_time, update_user, update_time,bill_type
      )
    VALUES (#{id,jdbcType=INTEGER}, #{companyNo,jdbcType=CHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{balanceMonth,jdbcType=CHAR}, #{balanceStartDate,jdbcType=DATE}, #{balanceEndDate,jdbcType=DATE}, 
      #{invoiceFlag,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      , #{billType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.InsidePurchaseBalanceDate" >
    INSERT INTO inside_purchase_balance_date
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="balanceMonth != null" >
        balance_month,
      </if>
      <if test="balanceStartDate != null" >
        balance_start_date,
      </if>
      <if test="balanceEndDate != null" >
        balance_end_date,
      </if>
      <if test="invoiceFlag != null" >
        invoice_flag,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
       <if test="billType == null" >
        bill_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="balanceMonth != null" >
        #{balanceMonth,jdbcType=CHAR},
      </if>
      <if test="balanceStartDate != null" >
        #{balanceStartDate,jdbcType=DATE},
      </if>
      <if test="balanceEndDate != null" >
        #{balanceEndDate,jdbcType=DATE},
      </if>
      <if test="invoiceFlag != null" >
        #{invoiceFlag,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="billType == null" >
        1,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.InsidePurchaseBalanceDate" >
    UPDATE inside_purchase_balance_date
    <set >
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="balanceMonth != null" >
        balance_month = #{balanceMonth,jdbcType=CHAR},
      </if>
      <if test="balanceStartDate != null" >
        balance_start_date = #{balanceStartDate,jdbcType=DATE},
      </if>
      <if test="balanceEndDate != null" >
        balance_end_date = #{balanceEndDate,jdbcType=DATE},
      </if>
      <if test="invoiceFlag != null" >
        invoice_flag = #{invoiceFlag,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.InsidePurchaseBalanceDate" >
    UPDATE inside_purchase_balance_date
    SET company_no = #{companyNo,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      balance_month = #{balanceMonth,jdbcType=CHAR},
      balance_start_date = #{balanceStartDate,jdbcType=DATE},
      balance_end_date = #{balanceEndDate,jdbcType=DATE},
      invoice_flag = #{invoiceFlag,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateInvoiceFlagByCondition" parameterType="cn.wonhigh.retail.fas.common.model.InsidePurchaseBalanceDate" >
  	UPDATE inside_purchase_balance_date
    SET invoice_flag = #{invoiceFlag,jdbcType=TINYINT}
    where company_no = #{companyNo,jdbcType=CHAR} 
    	AND balance_start_date &lt;= #{balanceStartDate,jdbcType=DATE} 
    	AND balance_end_date &gt;= #{balanceStartDate,jdbcType=DATE} 
	  	AND balance_month = EXTRACT(YEAR_MONTH FROM #{balanceStartDate,jdbcType=DATE})
	  	AND bill_type = 1
  </update>
</mapper>