<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.MallDeductionSetMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.MallDeductionSet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deduction_no" property="deductionNo" jdbcType="CHAR" />
    <result column="company_no" property="companyNo" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cost_code" property="costCode" jdbcType="CHAR" />
    <result column="cost_name" property="costName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="system_init" property="systemInit" jdbcType="TINYINT" />    
    <result column="debited_rental" property="debitedRental" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="accounts_no" property="accountsNo" jdbcType="CHAR" />
    <result column="accounts_name" property="accountsName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, deduction_no, company_no, company_name, code, name, cost_code, cost_name, type, 
    system_init, debited_rental,status, create_user, create_time, update_user, update_time, remark
  </sql>
  <sql id="condition" >
  -- AND @company_no
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>     
      <if test="null!=params.companyNo and ''!=params.companyNo" >
        AND company_no = #{params.companyNo}
      </if> 
      <if test="null!=params.shopNo and ''!=params.shopNo" >
        AND debited_rental !=1 
               AND company_no =(SELECT company_no  FROM shop WHERE shop_no=#{params.shopNo})
      </if>  
       <if test="null!=params.code and ''!=params.code" >
        AND code = #{params.code}
      </if>
       <if test="null!=params.debitedRental and ''!=params.debitedRental" >
        AND debited_rental = #{params.debitedRental}
      </if>
       <if test="null!=params.name and ''!=params.name" >
        AND name = #{params.name}
      </if>
       <if test="null!=params.costCode and ''!=params.costCode" >
        AND cost_code = #{params.costCode}
      </if>
        <if test="null!=params.costName and ''!=params.costName" >
        AND cost_name LIKE CONCAT('%',#{params.costName},'%')
      </if>
      <if test="null!=params.type and ''!=params.type" >
        AND type = #{params.type}
      </if>
      <if test="null!=params.status and ''!=params.status" >
        AND status = #{params.status}
      </if>
      <if test="null!=params.createUser and ''!=params.createUser" >
        AND create_user LIKE CONCAT('%',#{params.createUser},'%')
      </if>
      <if test="null!=params.codeLike and ''!=params.codeLike">
		AND code LIKE CONCAT('%',#{params.codeLike},'%')
	  </if>
	  <if test="null!=params.nameLike and ''!=params.nameLike">
		AND name LIKE CONCAT('%',#{params.nameLike},'%')
	  </if>
	  <!-- combogrid自动完成功能 -->
	  <if test="null!=params.q and ''!=params.q">
			AND (code LIKE CONCAT(#{params.q},'%') OR name LIKE CONCAT('%',#{params.q},'%')) 
	  </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM mall_deduction_set
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM mall_deduction_set WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM mall_deduction_set WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>    
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM mall_deduction_set WHERE 1=1 
    <include refid="condition" />
  </select>
  
  <select id="selectCostByCount" resultType="java.lang.Integer"  >
    SELECT  COUNT(1) as s  
       FROM mall_deduction_set  m  LEFT JOIN  cost_category_setting   c 
       ON  m.company_no =  c.company_no  AND m.cost_code = c.code where 1=1
       -- AND @m.company_no
       <if test="null!=params.companyNo and ''!=params.companyNo" >
        AND m.company_no = #{params.companyNo}
      </if> 
      <if test="null!=params.shopNo and ''!=params.shopNo" >
        and  m.debited_rental !=1 
               AND m.company_no =(SELECT company_no  FROM shop WHERE shop_no=#{params.shopNo})
      </if>  
       <if test="null!=params.code and ''!=params.code" >
        AND m.code = #{params.code}
      </if>
       <if test="null!=params.debitedRental and ''!=params.debitedRental" >
        AND m.debited_rental = #{params.debitedRental}
      </if>
       <if test="null!=params.name and ''!=params.name" >
        AND m.name = #{params.name}
      </if>
       <if test="null!=params.costCode and ''!=params.costCode" >
        AND m.cost_code = #{params.costCode}
      </if>
      <if test="null!=params.status and ''!=params.status" >
        AND m.status = #{params.status}
      </if>
      <!-- combogrid自动完成功能 -->
	  <if test="null!=params.q and ''!=params.q">
		AND (m.code LIKE CONCAT(#{params.q},'%') OR m.name LIKE CONCAT('%',#{params.q},'%'))
	  </if>
  </select>
  
   <select id="selectCostByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT  m.company_no AS companyNo,m.company_name AS companyName,m.code AS code,m.name AS name, m.cost_code AS costCode,
       m.cost_name AS costName,c.accounts_no  AS accountsNo  
       FROM mall_deduction_set  m  LEFT JOIN  cost_category_setting   c 
       ON  m.company_no =  c.company_no  AND m.cost_code = c.code   where 1=1  
       -- AND @m.company_no
       <if test="null!=params.companyNo and ''!=params.companyNo" >
        AND m.company_no = #{params.companyNo}
      </if> 
      <if test="null!=params.shopNo and ''!=params.shopNo" >
        AND m.debited_rental !=1 
               AND m.company_no =(SELECT company_no  FROM shop WHERE shop_no=#{params.shopNo})
      </if>  
       <if test="null!=params.code and ''!=params.code" >
        AND m.code = #{params.code}
      </if>
       <if test="null!=params.debitedRental and ''!=params.debitedRental" >
        AND m.debited_rental = #{params.debitedRental}
      </if>
       <if test="null!=params.name and ''!=params.name" >
        AND m.name = #{params.name}
      </if>
       <if test="null!=params.costCode and ''!=params.costCode" >
        AND m.cost_code = #{params.costCode}
      </if>
      <if test="null!=params.status and ''!=params.status" >
        AND m.status = #{params.status}
      </if>
      <!-- combogrid自动完成功能 -->
	  <if test="null!=params.q and ''!=params.q">
		AND (m.code LIKE CONCAT(#{params.q},'%') OR m.name LIKE CONCAT('%',#{params.q},'%'))
	  </if>
      <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>    
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM mall_deduction_set
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.MallDeductionSet" >
    DELETE FROM mall_deduction_set
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.MallDeductionSet" >
    INSERT INTO mall_deduction_set (id, deduction_no, company_no, 
      company_name, code, name, 
      cost_code, cost_name, type, 
      system_init, debited_rental,status, create_user, 
      create_time, update_user, update_time, 
      remark)
    VALUES (#{id,jdbcType=INTEGER}, #{deductionNo,jdbcType=CHAR}, #{companyNo,jdbcType=CHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{costCode,jdbcType=CHAR}, #{costName,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{systemInit,jdbcType=TINYINT},#{debitedRental,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.MallDeductionSet" >
    INSERT INTO mall_deduction_set
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deductionNo != null" >
        deduction_no,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="costCode != null" >
        cost_code,
      </if>
      <if test="costName != null" >
        cost_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="systemInit != null" >
        system_init,
      </if>
       <if test="debitedRental != null" >
        debited_rental,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deductionNo != null" >
        #{deductionNo,jdbcType=CHAR},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="costCode != null" >
        #{costCode,jdbcType=CHAR},
      </if>
      <if test="costName != null" >
        #{costName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="systemInit != null" >
        #{systemInit,jdbcType=TINYINT},
      </if>
      <if test="debitedRental != null" >
        #{debitedRental,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.MallDeductionSet" >
    UPDATE mall_deduction_set
    <set >
      <if test="deductionNo != null" >
        deduction_no = #{deductionNo,jdbcType=CHAR},
      </if>
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="costCode != null" >
        cost_code = #{costCode,jdbcType=CHAR},
      </if>
      <if test="costName != null" >
        cost_name = #{costName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="systemInit != null" >
        system_init = #{systemInit,jdbcType=TINYINT},
      </if>
       <if test="debitedRental != null" >
        debited_rental = #{debitedRental,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.MallDeductionSet" >
    UPDATE mall_deduction_set
    SET deduction_no = #{deductionNo,jdbcType=CHAR},
      company_no = #{companyNo,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      cost_code = #{costCode,jdbcType=CHAR},
      cost_name = #{costName,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      system_init = #{systemInit,jdbcType=TINYINT},
      debited_rental=#{debitedRental,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getMaxCode" resultType="java.lang.String"
		parameterType="cn.wonhigh.retail.fas.common.model.MallDeductionSet">
		/*#mycat:sql=SELECT 1 FROM mall_deduction_set */ 
		SELECT  MAX(CAST(CODE AS SIGNED INTEGER))  FROM mall_deduction_set where 1	= 1   and system_init=1
    </select>
</mapper>