<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.PayTermMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.PayTerm" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="term_no" property="termNo" jdbcType="CHAR" />
    <result column="term_name" property="termName" jdbcType="CHAR" />
    <result column="term_type" property="termType" jdbcType="TINYINT" />
    <result column="fixed_day" property="fixedDay" jdbcType="INTEGER" />
    <result column="days" property="days" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, term_no, term_name, term_type, fixed_day, days, create_time, create_user, update_time, 
    update_user
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.termNo and ''!=params.termNo" >
        AND term_no = #{params.termNo}
      </if>
      <if test="null!=params.termType and ''!=params.termType" >
        AND term_type = #{params.termType}
      </if>      
      <if test="null!=params.createTimeStart and ''!=params.createTimeStart" >
        AND create_time &gt;= '${params.createTimeStart} 00:00:00'
      </if>  
      <if test="null!=params.createTimeEnd and ''!=params.createTimeEnd" >
        AND create_time &lt;= '${params.createTimeEnd} 23:59:59'
      </if>  
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM pay_term
    WHERE id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM pay_term WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM pay_term WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM pay_term WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM pay_term
    WHERE id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.PayTerm" >
    DELETE FROM pay_term
    WHERE id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.PayTerm" >
    INSERT INTO pay_term (id, term_no, term_name, 
      term_type, fixed_day, days, 
      create_time, create_user, update_time, 
      update_user)
    VALUES (#{id,jdbcType=CHAR}, #{termNo,jdbcType=CHAR}, #{termName,jdbcType=CHAR}, 
      #{termType,jdbcType=TINYINT}, #{fixedDay,jdbcType=INTEGER}, #{days,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.PayTerm" >
    INSERT INTO pay_term
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="termNo != null" >
        term_no,
      </if>
      <if test="termName != null" >
        term_name,
      </if>
      <if test="termType != null" >
        term_type,
      </if>
      <if test="fixedDay != null" >
        fixed_day,
      </if>
      <if test="days != null" >
        days,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="termNo != null" >
        #{termNo,jdbcType=CHAR},
      </if>
      <if test="termName != null" >
        #{termName,jdbcType=CHAR},
      </if>
      <if test="termType != null" >
        #{termType,jdbcType=TINYINT},
      </if>
      <if test="fixedDay != null" >
        #{fixedDay,jdbcType=INTEGER},
      </if>
      <if test="days != null" >
        #{days,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.PayTerm" >
    UPDATE pay_term
    <set >
      <if test="termNo != null" >
        term_no = #{termNo,jdbcType=CHAR},
      </if>
      <if test="termName != null" >
        term_name = #{termName,jdbcType=CHAR},
      </if>
      <if test="termType != null" >
        term_type = #{termType,jdbcType=TINYINT},
      </if>
      <if test="fixedDay != null" >
        fixed_day = #{fixedDay,jdbcType=INTEGER},
      </if>
      <if test="days != null" >
        days = #{days,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.PayTerm" >
    UPDATE pay_term
    SET term_no = #{termNo,jdbcType=CHAR},
      term_name = #{termName,jdbcType=CHAR},
      term_type = #{termType,jdbcType=TINYINT},
      fixed_day = #{fixedDay,jdbcType=INTEGER},
      days = #{days,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=CHAR}
  </update>
</mapper>