<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.RateExpenseOperateMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.RateExpenseOperate" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="concract_no" property="concractNo" jdbcType="VARCHAR" />
    <result column="zone_no" property="zoneNo" jdbcType="VARCHAR" />
    <result column="zone_name" property="zoneName" jdbcType="VARCHAR" />
    <result column="organ_no" property="organNo" jdbcType="VARCHAR" />
    <result column="organ_name" property="organName" jdbcType="VARCHAR" />
    <result column="mall_no" property="mallNo" jdbcType="VARCHAR" />
    <result column="mall_name" property="mallName" jdbcType="VARCHAR" />
    <result column="shop_no" property="shopNo" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="brand_no" property="brandNo" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="settlement_period" property="settlementPeriod" jdbcType="VARCHAR" />
    <result column="settlement_type" property="settlementType" jdbcType="TINYINT" />
    <result column="debited_type" property="debitedType" jdbcType="VARCHAR" />
    <result column="debited_mode" property="debitedMode" jdbcType="TINYINT" />
    <result column="payment_mode" property="paymentMode" jdbcType="TINYINT" />
    <result column="rental" property="rental" jdbcType="DECIMAL" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="start_amount" property="startAmount" jdbcType="DECIMAL" />
    <result column="end_amount" property="endAmount" jdbcType="DECIMAL" />
    <result column="unity_rate_flag" property="unityRateFlag" jdbcType="TINYINT" />
    <result column="minimum_flag" property="minimumFlag" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_user_no" property="createUserNo" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_no" property="updateUserNo" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, concract_no, zone_no, zone_name, organ_no, organ_name, mall_no, mall_name, shop_no, 
    shop_name, brand_no, brand_name, settlement_period, settlement_type, debited_type, 
    debited_mode, payment_mode, rental, rate, start_amount, end_amount, unity_rate_flag, 
    minimum_flag, status, create_user_no, create_user, create_time, update_user_no, update_user, 
    update_time, remark
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
       <if test="null!=params.id and ''!=params.id" >
          and id = #{params.id} 
      </if>
      <if test="null!=params.shopNo and ''!=params.shopNo" >
          and shop_no = #{params.shopNo} 
      </if>
      <if test="null!=params.settlementType and ''!=params.settlementType" >
          and settlement_type = #{params.settlementType} 
      </if>
      <if test="null!=params.status and ''!=params.status" >
          and status = #{params.status} 
      </if>
      <if test="null!=params.settlementPeriod and ''!=params.settlementPeriod" >
          and settlement_period = #{params.settlementPeriod} 
      </if>
       <if test="null!=params.getEndAmount and ''!=params.getEndAmount" >
        AND end_amount = (
         SELECT MAX(end_amount)   FROM   `rate_expense_operate` WHERE 
          shop_no = #{params.shopNo}  and settlement_period = #{params.settlementPeriod} ) 
       </if>         
       <if test="null!=params.debitedType and ''!=params.debitedType" >
          and debited_type = #{params.debitedType} 
      </if>      
      <if test="null!=params.unityRateFlag and ''!=params.unityRateFlag" >
          and unity_rate_flag = #{params.unityRateFlag} 
      </if> 
       <if test="null!=params.debitedMode and ''!=params.debitedMode" >
          and debited_mode = #{params.debitedMode} 
      </if>     
         
       <!-- 处理不是统一扣率计算费用  按店 结算月 费用类别来分组  -->
        <if test="null!=params.unityFlag and ''!=params.unityFlag" >
            GROUP BY shop_no,settlement_period,debited_type 
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM rate_expense_operate
    WHERE id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM rate_expense_operate WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM rate_expense_operate WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM rate_expense_operate WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM rate_expense_operate
    WHERE id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.RateExpenseOperate" >
    DELETE FROM rate_expense_operate
    WHERE id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.RateExpenseOperate" >
    INSERT INTO rate_expense_operate (id, concract_no, zone_no, 
      zone_name, organ_no, organ_name, 
      mall_no, mall_name, shop_no, 
      shop_name, brand_no, brand_name, 
      settlement_period, settlement_type, debited_type, 
      debited_mode, payment_mode, rental, 
      rate, start_amount, end_amount, 
      unity_rate_flag, minimum_flag, status, 
      create_user_no, create_user, create_time, 
      update_user_no, update_user, update_time, 
      remark)
    VALUES (#{id,jdbcType=CHAR}, #{concractNo,jdbcType=VARCHAR}, #{zoneNo,jdbcType=VARCHAR}, 
      #{zoneName,jdbcType=VARCHAR}, #{organNo,jdbcType=VARCHAR}, #{organName,jdbcType=VARCHAR}, 
      #{mallNo,jdbcType=VARCHAR}, #{mallName,jdbcType=VARCHAR}, #{shopNo,jdbcType=VARCHAR}, 
      #{shopName,jdbcType=VARCHAR}, #{brandNo,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, 
      #{settlementPeriod,jdbcType=VARCHAR}, #{settlementType,jdbcType=TINYINT}, #{debitedType,jdbcType=VARCHAR}, 
      #{debitedMode,jdbcType=TINYINT}, #{paymentMode,jdbcType=TINYINT}, #{rental,jdbcType=DECIMAL}, 
      #{rate,jdbcType=DECIMAL}, #{startAmount,jdbcType=DECIMAL}, #{endAmount,jdbcType=DECIMAL}, 
      #{unityRateFlag,jdbcType=TINYINT}, #{minimumFlag,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{createUserNo,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserNo,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.RateExpenseOperate" >
    INSERT INTO rate_expense_operate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="concractNo != null" >
        concract_no,
      </if>
      <if test="zoneNo != null" >
        zone_no,
      </if>
      <if test="zoneName != null" >
        zone_name,
      </if>
      <if test="organNo != null" >
        organ_no,
      </if>
      <if test="organName != null" >
        organ_name,
      </if>
      <if test="mallNo != null" >
        mall_no,
      </if>
      <if test="mallName != null" >
        mall_name,
      </if>
      <if test="shopNo != null" >
        shop_no,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="brandNo != null" >
        brand_no,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="settlementPeriod != null" >
        settlement_period,
      </if>
      <if test="settlementType != null" >
        settlement_type,
      </if>
      <if test="debitedType != null" >
        debited_type,
      </if>
      <if test="debitedMode != null" >
        debited_mode,
      </if>
      <if test="paymentMode != null" >
        payment_mode,
      </if>
      <if test="rental != null" >
        rental,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="startAmount != null" >
        start_amount,
      </if>
      <if test="endAmount != null" >
        end_amount,
      </if>
      <if test="unityRateFlag != null" >
        unity_rate_flag,
      </if>
      <if test="minimumFlag != null" >
        minimum_flag,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUserNo != null" >
        create_user_no,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserNo != null" >
        update_user_no,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="concractNo != null" >
        #{concractNo,jdbcType=VARCHAR},
      </if>
      <if test="zoneNo != null" >
        #{zoneNo,jdbcType=VARCHAR},
      </if>
      <if test="zoneName != null" >
        #{zoneName,jdbcType=VARCHAR},
      </if>
      <if test="organNo != null" >
        #{organNo,jdbcType=VARCHAR},
      </if>
      <if test="organName != null" >
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="mallNo != null" >
        #{mallNo,jdbcType=VARCHAR},
      </if>
      <if test="mallName != null" >
        #{mallName,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null" >
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="settlementPeriod != null" >
        #{settlementPeriod,jdbcType=VARCHAR},
      </if>
      <if test="settlementType != null" >
        #{settlementType,jdbcType=TINYINT},
      </if>
      <if test="debitedType != null" >
        #{debitedType,jdbcType=VARCHAR},
      </if>
      <if test="debitedMode != null" >
        #{debitedMode,jdbcType=TINYINT},
      </if>
      <if test="paymentMode != null" >
        #{paymentMode,jdbcType=TINYINT},
      </if>
      <if test="rental != null" >
        #{rental,jdbcType=DECIMAL},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="startAmount != null" >
        #{startAmount,jdbcType=DECIMAL},
      </if>
      <if test="endAmount != null" >
        #{endAmount,jdbcType=DECIMAL},
      </if>
      <if test="unityRateFlag != null" >
        #{unityRateFlag,jdbcType=TINYINT},
      </if>
      <if test="minimumFlag != null" >
        #{minimumFlag,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createUserNo != null" >
        #{createUserNo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserNo != null" >
        #{updateUserNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.RateExpenseOperate" >
    UPDATE rate_expense_operate
    <set >
      <if test="concractNo != null" >
        concract_no = #{concractNo,jdbcType=VARCHAR},
      </if>
      <if test="zoneNo != null" >
        zone_no = #{zoneNo,jdbcType=VARCHAR},
      </if>
      <if test="zoneName != null" >
        zone_name = #{zoneName,jdbcType=VARCHAR},
      </if>
      <if test="organNo != null" >
        organ_no = #{organNo,jdbcType=VARCHAR},
      </if>
      <if test="organName != null" >
        organ_name = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="mallNo != null" >
        mall_no = #{mallNo,jdbcType=VARCHAR},
      </if>
      <if test="mallName != null" >
        mall_name = #{mallName,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null" >
        shop_no = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        brand_no = #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="settlementPeriod != null" >
        settlement_period = #{settlementPeriod,jdbcType=VARCHAR},
      </if>
      <if test="settlementType != null" >
        settlement_type = #{settlementType,jdbcType=TINYINT},
      </if>
      <if test="debitedType != null" >
        debited_type = #{debitedType,jdbcType=VARCHAR},
      </if>
      <if test="debitedMode != null" >
        debited_mode = #{debitedMode,jdbcType=TINYINT},
      </if>
      <if test="paymentMode != null" >
        payment_mode = #{paymentMode,jdbcType=TINYINT},
      </if>
      <if test="rental != null" >
        rental = #{rental,jdbcType=DECIMAL},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="startAmount != null" >
        start_amount = #{startAmount,jdbcType=DECIMAL},
      </if>
      <if test="endAmount != null" >
        end_amount = #{endAmount,jdbcType=DECIMAL},
      </if>
      <if test="unityRateFlag != null" >
        unity_rate_flag = #{unityRateFlag,jdbcType=TINYINT},
      </if>
      <if test="minimumFlag != null" >
        minimum_flag = #{minimumFlag,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createUserNo != null" >
        create_user_no = #{createUserNo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserNo != null" >
        update_user_no = #{updateUserNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.RateExpenseOperate" >
    UPDATE rate_expense_operate
    SET concract_no = #{concractNo,jdbcType=VARCHAR},
      zone_no = #{zoneNo,jdbcType=VARCHAR},
      zone_name = #{zoneName,jdbcType=VARCHAR},
      organ_no = #{organNo,jdbcType=VARCHAR},
      organ_name = #{organName,jdbcType=VARCHAR},
      mall_no = #{mallNo,jdbcType=VARCHAR},
      mall_name = #{mallName,jdbcType=VARCHAR},
      shop_no = #{shopNo,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      brand_no = #{brandNo,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      settlement_period = #{settlementPeriod,jdbcType=VARCHAR},
      settlement_type = #{settlementType,jdbcType=TINYINT},
      debited_type = #{debitedType,jdbcType=VARCHAR},
      debited_mode = #{debitedMode,jdbcType=TINYINT},
      payment_mode = #{paymentMode,jdbcType=TINYINT},
      rental = #{rental,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DECIMAL},
      start_amount = #{startAmount,jdbcType=DECIMAL},
      end_amount = #{endAmount,jdbcType=DECIMAL},
      unity_rate_flag = #{unityRateFlag,jdbcType=TINYINT},
      minimum_flag = #{minimumFlag,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_user_no = #{createUserNo,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_no = #{updateUserNo,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=CHAR}
  </update>
</mapper>