<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.StoreMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.Store" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_no" property="storeNo" jdbcType="CHAR" />
    <result column="parent_no" property="parentNo" jdbcType="CHAR" />
    <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="sys_no" property="sysNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="area" property="area" jdbcType="DECIMAL" />
    <result column="province_no" property="provinceNo" jdbcType="VARCHAR" />
    <result column="city_no" property="cityNo" jdbcType="VARCHAR" />
    <result column="county_no" property="countyNo" jdbcType="VARCHAR" />
    <result column="zone_no" property="zoneNo" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="store_type" property="storeType" jdbcType="TINYINT" />
    <result column="storage_type" property="storageType" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="time_seq" property="timeSeq" jdbcType="BIGINT" />
    <result column="search_code" property="searchCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_no, parent_no, store_code, short_name, full_name, sys_no, status, area, 
    province_no, city_no, county_no, zone_no, address, zip_code, contact_name, tel, fax, 
    store_type, storage_type, create_user, create_time, update_user, update_time, remark, 
    time_seq, search_code
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <!-- combogrid自动完成功能 -->
	  <if test="null!=params.q and ''!=params.q">
			AND (store_no LIKE CONCAT(#{params.q},'%') OR short_name LIKE CONCAT('%',#{params.q},'%')) 
	  </if>
	  <if test="null!=params.storeNo and ''!=params.storeNo">
			AND store_no = #{params.storeNo}
	  </if>
	  <if test="null != params.storeNos and '' != params.storeNos">
			AND store_no in 
			<foreach collection="params.storeNos" item="storeNo" separator="," open="(" close=")" index=""> 
				#{storeNo} 
			</foreach>  
		</if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM store
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM store WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM store WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM store WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM store
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.Store" >
    DELETE FROM store
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.Store" >
    INSERT INTO store (id, store_no, parent_no, 
      store_code, short_name, full_name, 
      sys_no, status, area, 
      province_no, city_no, county_no, 
      zone_no, address, zip_code, 
      contact_name, tel, fax, 
      store_type, storage_type, create_user, 
      create_time, update_user, update_time, 
      remark, time_seq, search_code
      )
    VALUES (#{id,jdbcType=INTEGER}, #{storeNo,jdbcType=CHAR}, #{parentNo,jdbcType=CHAR}, 
      #{storeCode,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, 
      #{sysNo,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{area,jdbcType=DECIMAL}, 
      #{provinceNo,jdbcType=VARCHAR}, #{cityNo,jdbcType=VARCHAR}, #{countyNo,jdbcType=VARCHAR}, 
      #{zoneNo,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{contactName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{storeType,jdbcType=TINYINT}, #{storageType,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{timeSeq,jdbcType=BIGINT}, #{searchCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.Store" >
    INSERT INTO store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeNo != null" >
        store_no,
      </if>
      <if test="parentNo != null" >
        parent_no,
      </if>
      <if test="storeCode != null" >
        store_code,
      </if>
      <if test="shortName != null" >
        short_name,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="sysNo != null" >
        sys_no,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="provinceNo != null" >
        province_no,
      </if>
      <if test="cityNo != null" >
        city_no,
      </if>
      <if test="countyNo != null" >
        county_no,
      </if>
      <if test="zoneNo != null" >
        zone_no,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="storeType != null" >
        store_type,
      </if>
      <if test="storageType != null" >
        storage_type,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="timeSeq != null" >
        time_seq,
      </if>
      <if test="searchCode != null" >
        search_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeNo != null" >
        #{storeNo,jdbcType=CHAR},
      </if>
      <if test="parentNo != null" >
        #{parentNo,jdbcType=CHAR},
      </if>
      <if test="storeCode != null" >
        #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="sysNo != null" >
        #{sysNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="provinceNo != null" >
        #{provinceNo,jdbcType=VARCHAR},
      </if>
      <if test="cityNo != null" >
        #{cityNo,jdbcType=VARCHAR},
      </if>
      <if test="countyNo != null" >
        #{countyNo,jdbcType=VARCHAR},
      </if>
      <if test="zoneNo != null" >
        #{zoneNo,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null" >
        #{storeType,jdbcType=TINYINT},
      </if>
      <if test="storageType != null" >
        #{storageType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="timeSeq != null" >
        #{timeSeq,jdbcType=BIGINT},
      </if>
      <if test="searchCode != null" >
        #{searchCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.Store" >
    UPDATE store
    <set >
      <if test="storeNo != null" >
        store_no = #{storeNo,jdbcType=CHAR},
      </if>
      <if test="parentNo != null" >
        parent_no = #{parentNo,jdbcType=CHAR},
      </if>
      <if test="storeCode != null" >
        store_code = #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="sysNo != null" >
        sys_no = #{sysNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="provinceNo != null" >
        province_no = #{provinceNo,jdbcType=VARCHAR},
      </if>
      <if test="cityNo != null" >
        city_no = #{cityNo,jdbcType=VARCHAR},
      </if>
      <if test="countyNo != null" >
        county_no = #{countyNo,jdbcType=VARCHAR},
      </if>
      <if test="zoneNo != null" >
        zone_no = #{zoneNo,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null" >
        store_type = #{storeType,jdbcType=TINYINT},
      </if>
      <if test="storageType != null" >
        storage_type = #{storageType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="timeSeq != null" >
        time_seq = #{timeSeq,jdbcType=BIGINT},
      </if>
      <if test="searchCode != null" >
        search_code = #{searchCode,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.Store" >
    UPDATE store
    SET store_no = #{storeNo,jdbcType=CHAR},
      parent_no = #{parentNo,jdbcType=CHAR},
      store_code = #{storeCode,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      sys_no = #{sysNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      area = #{area,jdbcType=DECIMAL},
      province_no = #{provinceNo,jdbcType=VARCHAR},
      city_no = #{cityNo,jdbcType=VARCHAR},
      county_no = #{countyNo,jdbcType=VARCHAR},
      zone_no = #{zoneNo,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      store_type = #{storeType,jdbcType=TINYINT},
      storage_type = #{storageType,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      time_seq = #{timeSeq,jdbcType=BIGINT},
      search_code = #{searchCode,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findStoreNameByNo" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT short_name FROM store WHERE store_no=#{storeNo}
  </select>
  
</mapper>