<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.SupplierTariffSetMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.SupplierTariffSet" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="supplier_no" property="supplierNo" jdbcType="CHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="tariff_rate" property="tariffRate" jdbcType="DECIMAL" />
    <result column="style_no" property="styleNo" jdbcType="VARCHAR" />
    <result column="effective_date" property="effectiveDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, supplier_no, supplier_name, tariff_rate, style_no, effective_date,create_user, create_time, 
    update_user, update_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.supplierNos and ''!=params.supplierNos">
		AND supplier_no IN
		<foreach collection="params.supplierNos" index="index" item="supplierNo" open="(" separator="," close=")">
			#{supplierNo, jdbcType=CHAR}
		</foreach>
	   </if>
 		<if test="null!=params.supplierNo and ''!=params.supplierNo">
		AND supplier_no = #{params.supplierNo,jdbcType=CHAR}
		</if> 
		<if test="null!=params.effectiveDate and ''!=params.effectiveDate">
		AND effective_date = #{params.effectiveDate,jdbcType=DATE}
		</if>
		<if test="null!=params.styleNo and ''!=params.styleNo">
		AND style_no = #{params.styleNo,jdbcType=VARCHAR}
		</if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from supplier_tariff_set
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from supplier_tariff_set where 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     from supplier_tariff_set   WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
    <if test="orderByField == null || ''==orderByField">
		ORDER BY create_time DESC
	</if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
     from supplier_tariff_set where 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from supplier_tariff_set
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="java.lang.String" >
    delete from supplier_tariff_set
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.SupplierTariffSet" >
    insert into supplier_tariff_set (id, supplier_no, supplier_name, 
      tariff_rate, style_no,effective_date, create_user, 
      create_time, update_user, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{supplierNo,jdbcType=CHAR}, #{supplierName,jdbcType=VARCHAR}, 
      #{tariffRate,jdbcType=DECIMAL}, #{styleNo,jdbcType=VARCHAR},#{effectiveDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.SupplierTariffSet" >
    insert into supplier_tariff_set
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="supplierNo != null" >
        supplier_no,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="tariffRate != null" >
        tariff_rate,
      </if>
      <if test="styleNo != null" >
        style_no,
      </if>
       <if test="effectiveDate != null" >
        effective_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="supplierNo != null" >
        #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="tariffRate != null" >
        #{tariffRate,jdbcType=DECIMAL},
      </if>
      <if test="styleNo != null" >
        #{styleNo,jdbcType=VARCHAR},
      </if>
      
       <if test="effectiveDate != null" >
        #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.SupplierTariffSet" >
    update supplier_tariff_set
    <set >
      <if test="supplierNo != null" >
        supplier_no = #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="tariffRate != null" >
        tariff_rate = #{tariffRate,jdbcType=DECIMAL},
      </if>
      <if test="styleNo != null" >
        style_no = #{styleNo,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null" >
        effective_date = #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.SupplierTariffSet" >
    update supplier_tariff_set
    set supplier_no = #{supplierNo,jdbcType=CHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      tariff_rate = #{tariffRate,jdbcType=DECIMAL},
      style_no = #{styleNo,jdbcType=VARCHAR},
      effective_date= #{effectiveDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>