<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.TicketCollectDtlMapper">
	<resultMap id="BaseResultMap"
		type="cn.wonhigh.retail.fas.common.model.TicketCollectDtl">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="collect_no" property="collectNo" jdbcType="VARCHAR" />
		<result column="ticket_define_no" property="ticketDefineNo"
			jdbcType="VARCHAR" />
		<result column="ticket_no" property="ticketNo" jdbcType="VARCHAR" />
		<result column="ticket_code" property="ticketCode" jdbcType="VARCHAR" />
		<result column="create_user_no" property="createUserNo"
			jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_user_no" property="updateUserNo"
			jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, collect_no, ticket_define_no, ticket_no, ticket_code, create_user_no,
		create_user,
		create_time, update_user_no, update_user, update_time
	</sql>
	<sql id="condition">
		<if test="null!=params">
			<if test="null!=params.queryCondition and ''!=params.queryCondition">
				${params.queryCondition}
			</if>
			<if test="null!=params.collectNo and ''!=params.collectNo">
				and collect_no = #{params.collectNo}
			</if>
		</if>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM ticket_collect_dtl
		WHERE id = #{id,jdbcType=CHAR}
	</select>
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1) as s FROM ticket_collect_dtl WHERE 1=1
		<include refid="condition" />
	</select>
	<select id="selectByPage" resultMap="BaseResultMap"
		parameterType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM ticket_collect_dtl WHERE 1=1
		<include refid="condition" />
		<if test="orderByField != null and ''!=orderByField">
			ORDER BY ${orderByField}
			<if test="orderByField">
				${orderBy}
			</if>
		</if>
		LIMIT #{page.startRowNum} ,#{page.pageSize}
	</select>
	<select id="selectByParams" resultMap="BaseResultMap"
		parameterType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM ticket_collect_dtl WHERE 1=1
		<include refid="condition" />
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM ticket_collect_dtl
		WHERE id = #{id,jdbcType=CHAR}
	</delete>
	<delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.TicketCollectDtl">
		DELETE FROM ticket_collect_dtl
		WHERE id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.TicketCollectDtl">
		INSERT INTO ticket_collect_dtl (id, collect_no, ticket_define_no,
		ticket_no, ticket_code, create_user_no,
		create_user, create_time, update_user_no,
		update_user, update_time)
		VALUES (#{id,jdbcType=CHAR}, #{collectNo,jdbcType=VARCHAR},
		#{ticketDefineNo,jdbcType=VARCHAR},
		#{ticketNo,jdbcType=VARCHAR}, #{ticketCode,jdbcType=VARCHAR}, #{createUserNo,jdbcType=VARCHAR},
		#{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{updateUserNo,jdbcType=VARCHAR},
		#{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.TicketCollectDtl">
		INSERT INTO ticket_collect_dtl
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="collectNo != null">
				collect_no,
			</if>
			<if test="ticketDefineNo != null">
				ticket_define_no,
			</if>
			<if test="ticketNo != null">
				ticket_no,
			</if>
			<if test="ticketCode != null">
				ticket_code,
			</if>
			<if test="createUserNo != null">
				create_user_no,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateUserNo != null">
				update_user_no,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="collectNo != null">
				#{collectNo,jdbcType=VARCHAR},
			</if>
			<if test="ticketDefineNo != null">
				#{ticketDefineNo,jdbcType=VARCHAR},
			</if>
			<if test="ticketNo != null">
				#{ticketNo,jdbcType=VARCHAR},
			</if>
			<if test="ticketCode != null">
				#{ticketCode,jdbcType=VARCHAR},
			</if>
			<if test="createUserNo != null">
				#{createUserNo,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserNo != null">
				#{updateUserNo,jdbcType=VARCHAR},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.TicketCollectDtl">
		UPDATE ticket_collect_dtl
		<set>
			<if test="collectNo != null">
				collect_no = #{collectNo,jdbcType=VARCHAR},
			</if>
			<if test="ticketDefineNo != null">
				ticket_define_no = #{ticketDefineNo,jdbcType=VARCHAR},
			</if>
			<if test="ticketNo != null">
				ticket_no = #{ticketNo,jdbcType=VARCHAR},
			</if>
			<if test="ticketCode != null">
				ticket_code = #{ticketCode,jdbcType=VARCHAR},
			</if>
			<if test="createUserNo != null">
				create_user_no = #{createUserNo,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserNo != null">
				update_user_no = #{updateUserNo,jdbcType=VARCHAR},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.TicketCollectDtl">
		UPDATE ticket_collect_dtl
		SET collect_no = #{collectNo,jdbcType=VARCHAR},
		ticket_define_no = #{ticketDefineNo,jdbcType=VARCHAR},
		ticket_no = #{ticketNo,jdbcType=VARCHAR},
		ticket_code = #{ticketCode,jdbcType=VARCHAR},
		create_user_no = #{createUserNo,jdbcType=VARCHAR},
		create_user = #{createUser,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_user_no = #{updateUserNo,jdbcType=VARCHAR},
		update_user = #{updateUser,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=CHAR}
	</update>
</mapper>