<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.retail.fas.dal.database.WholesaleReceTermMapper" >
  <resultMap id="BaseResultMap" type="cn.wonhigh.retail.fas.common.model.WholesaleReceTerm" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="term_no" property="termNo" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="company_no" property="companyNo" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="control_type" property="controlType" jdbcType="TINYINT" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, term_no, name, company_no, company_name, status, control_type, create_user, create_time, update_user, 
    update_time, remark
  </sql>
  <sql id="condition" >
  		-- AND @company_no
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.termNo and ''!=params.termNo" >
          AND term_no = #{params.termNo}
      </if>
      <if test="null!=params.name and ''!=params.name" >
           AND name = #{params.name}
      </if>
      <if test="null!=params.termNoLike and ''!=params.termNoLike" >
          AND term_no LIKE '%${params.termNoLike}%'
      </if>
      <if test="null!=params.nameLike and ''!=params.nameLike" >
           AND name LIKE '%${params.nameLike}%'
      </if>
      <if test="null!=params.companyNo and ''!=params.companyNo" >
          AND company_no = #{params.companyNo,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.status and ''!=params.status" >
          AND status = #{params.status,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.controlType and ''!=params.controlType">
      	  AND control_type = #{params.controlType,jdbcType=VARCHAR}
      </if>
      <!-- combogrid自动完成功能 -->
	  <if test="null!=params.q and ''!=params.q">
		AND (term_no LIKE CONCAT(#{params.q},'%') OR name LIKE CONCAT('%',#{params.q},'%')) 
	  </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM wholesale_rece_term
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM wholesale_rece_term WHERE 1=1 
    <include refid="condition" />
  </select>
  
  <select id="selectByCompanyNoAndCustomerNo" resultMap="BaseResultMap" parameterType="map">
  	SELECT 
	  		w.id, w.term_no, w.name, w.company_no, w.company_name, w.status, w.control_type, w.create_user, w.create_time, w.update_user, 
	    	w.update_time, w.remark
		FROM wholesale_rece_term w
		  LEFT JOIN customer_rece_rel c
		    ON w.term_no = c.term_no
		WHERE 1 = 1 
			<if test="null!= params.companyNo and ''!=params.companyNo">
				AND c.company_no = #{params.companyNo} 
			</if>
			<if test="null!= params.customerNo and ''!=params.customerNo">
				AND c.customer_no = #{params.customerNo} 
			</if>
		    AND c.status = 1
		    AND w.status = 1
  </select>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM wholesale_rece_term WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM wholesale_rece_term WHERE 1=1 
    <include refid="condition" />
  </select>
  
  <select id="checkOnlyByTermNoOrTermName" resultType="java.lang.Integer" parameterType="map" >
  	SELECT count(1) FROM wholesale_rece_term 
  	<if test="null!=params">
	  	<trim prefix="WHERE" prefixOverrides="OR">
	  		<if test="null!=params.termNo and ''!=params.termNo" >
	        	term_no = #{params.termNo}
		    </if>
		    <if test="null!=params.name and ''!=params.name" >
		        OR name = #{params.name}
		    </if>
	  	</trim>
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM wholesale_rece_term
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.wonhigh.retail.fas.common.model.WholesaleReceTerm" >
    DELETE FROM wholesale_rece_term
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wonhigh.retail.fas.common.model.WholesaleReceTerm" >
    INSERT INTO wholesale_rece_term (id, term_no, name, 
      company_no, company_name, status, control_type,
      create_user, create_time, update_user, 
      update_time, remark)
    VALUES (#{id,jdbcType=INTEGER}, #{termNo,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{companyNo,jdbcType=CHAR}, #{companyName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{controlType,jdbcType=TINYINT}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.wonhigh.retail.fas.common.model.WholesaleReceTerm" >
    INSERT INTO wholesale_rece_term
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="termNo != null" >
        term_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="companyNo != null" >
        company_no,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="controlType != null" >
        control_type,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="termNo != null" >
        #{termNo,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="controlType != null" >
        #{controlType,jdbcType=TINYINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wonhigh.retail.fas.common.model.WholesaleReceTerm" >
    UPDATE wholesale_rece_term
    <set >
      <if test="termNo != null" >
        term_no = #{termNo,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="companyNo != null" >
        company_no = #{companyNo,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="controlType != null" >
        control_type = #{controlType,jdbcType=TINYINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wonhigh.retail.fas.common.model.WholesaleReceTerm" >
    UPDATE wholesale_rece_term
    SET term_no = #{termNo,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      company_no = #{companyNo,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      control_type = #{controlType,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>